[2014-04-21 22:04] pjonsson opened #4 "Parser/Lexer confuses dashes and comment."
Testcase "Comment1" in Pull Request #3  belongs to this report.

http://www.haskell.org/onlinereport/haskell2010/haskellch10.html#x17-17700010.2 defines comment as:

comment → dashes [ any⟨symbol⟩ {any} ] newline

The current parser requires at least one character after the dashes before the new line, so just dashes newline gives a parse error.

[2014-04-22 01:33] #4 closed, assigned to nobody

[2014-04-23 04:01] carymrobbins opened #7 "Integrate ghc-mod"
This issue is really a big parent ticket that has a **LOT** of prerequisites.  However, I think this is a very practical goal for the project.

The awesome ghc-mod and ghc-modi tools provide a command line interface that should be usable by HaskForce.

http://www.mew.org/~kazu/proj/ghc-mod/en/

They can be installed with `cabal install ghc-mod`.  We can have the IDE offer to do this for us via the

[2014-04-23 04:54] carymrobbins opened #8 "Add SDK"
Working on the Haskell SDK discovery.  First I'll start with Mac OS X, then I'll get it working on Windows and Linux.

[2014-04-26 06:03] carymrobbins opened #10 "Syntax highlighting breaks for multiline strings"
It seems that multiline strings are generating the correct Psi tree but will temporarily display incorrect syntax highlighting if the backslashes (after the first line of the literal) are removed and replaced.

The PsiViewer shows the correct tree being produced, so I'm not sure how to create a test for this one yet.

[code]

On a semi-related note, it seems that spaces between a backslash and new

[2014-04-26 06:06] carymrobbins opened #11 "Multiline string should allow spaces between backslash and newline"
We get a parse error if we have trailing spaces after a backslash even though GHC will compile it just fine.  Writing a test for this should be pretty straight forward.

[code]

[2014-04-26 17:12] #11 closed, assigned to pjonsson

[2014-04-28 04:44] carymrobbins opened #12 "Strings should allow escaped double quotes"
Unfortunately, it seems the resolution for #10 means that escaped double quotes result in a parse error now.  I will be adding a failing test case and working on the resolution for this.

[2014-04-28 04:56] #12 closed, assigned to carymrobbins

[2014-04-29 01:19] pjonsson opened #13 "Collection ticket for syntax highlighting, underlining, etc"
With the latest developments in #10 and #12 and my progress on parser implementation I'm now in a position to give a more informed opinion. This ticket is complementary to #7.

Our lexer is currently in reasonable shape for the files I've tried to open in IntelliJ, and that is what provides the syntax highlighting. It's not perfect, and part of the reason for that is that it's hard to see through

[2014-04-29 19:15] #10 closed, assigned to nobody

[2014-04-29 23:35] pjonsson opened #14 "Recursive annotator causes noticeable delay"
The annotator in HaskellAnnotator is apparently the key to making changed multiline strings as seen in #10 work. Terrence Parr has some notes [1], roughly indicating that his annotator gets called for every (changed) leaf.

Our annotator is looping over the children of each node in a loop though. Removing that loop makes a noticeable difference on my computer when scrolling in a 1000 line Haskell

[2014-04-30 00:29] #14 closed, assigned to nobody

[2014-04-30 00:30] carymrobbins opened #15 "Intermittent `Unbalanced tree` error"
When opening certain files (example file below) I get the following traceback.  Currently investigating how to write a test case for this.

[code]

[code]

[2014-04-30 00:58] #15 closed, assigned to nobody

[2014-05-04 20:34] pjonsson opened #16 "Automate the build process"
Adding a new ticket for this issue to get some way of tracing the decision in the future.

Yes, I think we should remove the files! I'm a bit worried about shellscripts though, they probably cause trouble for anyone using windows, are not very good for avoiding spurious regeneration in the build process, and I'm not sure how well they integrate with whatever the latest build tool for Java is calle

[2014-05-15 19:01] pjonsson opened #17 "Robust configuration validation"
We need to provide robust validation of the Haskell parts of IntelliJ configuration, and provide reasonable feedback when we can detect that something is wrong.

One idea is to provide early feedback through a checkmark when the versions of software is past a certain threshold in the configuration panel. We want Cabal 1.20 for -j building, ghc 7.8 for the same reason, and so on. We shouldn't stop

[2014-05-31 06:38] #16 closed, assigned to carymrobbins

[2014-06-06 11:26] pjonsson opened #18 "Fix size/alignment of components in Configurables."
The dialog boxes (External Haskell Tools, Haskell Compiler, source files typically named HaskellSomethingConfigurable) currently put all elements at full width in the middle of panel. Elements should be of reasonable size for their type and sensibly aligned in the right place of the box.

The comment on commit d2222c09dd86d5cc9885afc0c3400a3aff5a9e0a outlines possible ways of implementing this tic

[2014-06-06 15:03] #8 closed, assigned to carymrobbins

[2014-06-06 15:12] carymrobbins opened #19 "Missing cabal file should cause a build error"
As it currently stands, if your project doesn't have a cabal file you don't get a build error.  We should definitely prompt a build error when this occurs.  Optionally, we could offer to run `cabal init` for the user.

[2014-06-06 15:16] carymrobbins opened #20 "Project compiler output is ignored (defaults to dist/)"
The **Project Structure** setting **Project compiler output** is ignored.  Making the project always build to `dist/`.

[2014-06-06 15:26] carymrobbins opened #21 "Warning: cabal: Unrecognised flags: null"
If you don't enter a flag in the **Haskell Compiler > Cabal configure flags** option, you get this error.  Obviously, we should handle this case and not pass flags to cabal.

[2014-06-06 16:25] #21 closed, assigned to nobody

[2014-06-08 20:49] pjonsson opened #22 "Test Hsx parsing"
Add one or several haskell files in `tests/gold/parser` that test parsing of Hsx extensions.

Example commit (text files are automatically generated): https://github.com/carymrobbins/intellij-haskforce/commit/43f9961d9fc97de7729bc28714c078996e507736

[2014-06-08 20:49] pjonsson opened #23 "Test Harp parsing"
Add one or several haskell files in `tests/gold/parser` that test parsing of Harp extensions.

Example commit (text files are automatically generated): https://github.com/carymrobbins/intellij-haskforce/commit/43f9961d9fc97de7729bc28714c078996e507736

[2014-06-08 21:22] #19 closed, assigned to nobody

[2014-06-12 01:37] carymrobbins opened #24 "Windows can't handle Con.java"
This is pretty silly, but we can't even clone HaskForce on Windows because of `parsing/srcExtsDatatypes/Con.java`.  Basically, `con` is a reserved name in Windows.

http://stackoverflow.com/questions/448438/windows-and-renaming-folders-the-con-issue

What this means is we need to come up with a different name for that class.  I was thinking `DataCon` or `ConExp`.  I don't really like either...we'l

[2014-06-13 07:57] #18 closed, assigned to nobody

[2014-06-13 10:46] pjonsson opened #25 "Missing build dependencies in IntelliJ project"
After updating my tree with the fix for #18 and doing "Prepare plugin for release" and installing/restarting I just got a spinning wheel and "Loading.." for the dialog boxes in preferences. I did Build->Rebuild project and another release and things worked again.

I suspect we're missing a dependency on something somewhere, but I'm not sure on what.

[2014-06-15 06:16] carymrobbins opened #26 "Create Run Configurations"
I've already added an (incomplete) implementation here: 1cda2ade70

This page provides a good explanation of the various components needed to get this working: http://confluence.jetbrains.com/display/IDEADEV/Run+Configurations

For cabal projects we can tap into `cabal run` or `cabal test` and just handle piping the input/output properly, which probably won't be too hard.  We'll probably want to d

[2014-06-15 09:56] pjonsson opened #27 "Travis build failure/error handling"
@carymrobbins: Noticed you just did some tweaks to the travis build scripts. Can you take a look at this?

Getting a non-descriptive `Err http://ppa.launchpad.net precise InRelease` from the travis build and a bit after that it fails because it can't install the dependencies. Here's the log:

https://travis-ci.org/carymrobbins/intellij-haskforce/jobs/27606311

As a side note I'm guessing the build

[2014-06-15 22:58] #27 closed, assigned to carymrobbins

[2014-06-22 07:11] carymrobbins opened #28 "Cabal file support"
- [x] We need to be able to provide syntax highlighting for **.cabal** files.
- [x] From an API standpoint, we should provide helper methods to simplify the retrieval of details such as build types, extensions, etc.
- [x] It would probably also be nice to simulate `cabal init` with a GUI form.

[2014-07-03 13:20] pjonsson opened #29 "New parser hangs when typing pragmas"
Complete pragmas parse just fine, but there's a deadlock when writing them.

[2014-07-03 13:22] pjonsson opened #30 "Latency warnings from IntelliJ with new parser"
IntelliJ puts warnings in the logs about long latencies with the new parser. No bad user experiences from it as far as I can tell, but investigate if we are violating some assumptions from IntelliJ.

[2014-07-05 01:29] pjonsson opened #31 "Error Java JDK isn't specified for module .."
Sometimes the cabal build does not rebuild anything, and we get the above error. Here's a console printout:
[code]

I'm not too worried about the error message, but the fact that it is signaled as an error is troublesome. Our primary mechanism for detecting errors are the return values from cabal, so maybe something is up with them.

[2014-07-07 16:14] #29 closed, assigned to pjonsson

[2014-07-07 22:43] carymrobbins opened #32 "Parser hangs on open comment"
Steps to reproduce:

[code]

Parser then hangs (seemingly) for eternity.

[2014-07-07 23:50] #13 closed, assigned to pjonsson

[2014-07-07 23:56] pjonsson opened #33 "HaskForce steals focus from Java projects"
With two projects open, one Haskell project and one Java project, I lose focus/the cursor in the Java project after opening a diff in the changes panel in the Java project sometimes.

My guess is that we are missing an early return if the object we're working with is not a Haskell File, but I have no specific information on where it might be.

[2014-07-07 23:58] #25 closed, assigned to nobody

[2014-07-08 13:54] #32 closed, assigned to pjonsson

[2014-07-08 19:03] pjonsson opened #34 "Collect all consecutive comments in the HaskellFoldingBuilder."
74434cb18b4b8f8ed0e4fcdec6d50f5d3537eebd put a dent in the FoldingBuilder. We should collect all consecutive `HaskellTypes.COMMENTTEXT` into a single FoldingRegion, like the JavaFoldingBuilder does.

[2014-07-09 01:03] pjonsson opened #35 "Fix brace-matching fallout"
The comment refactoring broke the TypedHandler matching. We're now getting a different token and the BraceMatcher gets lost. Will fix tomorrow.

[2014-07-09 04:55] #26 closed, assigned to carymrobbins

[2014-07-09 14:09] #35 closed, assigned to pjonsson

[2014-07-09 21:41] carymrobbins opened #36 "Make Haskell Tools global"
Anytime you create a new project you have to set the paths to the Haskell tools again.  This is pretty annoying.  Of all of the tools we use right now, I don't think any of them should be project-specific.

[2014-07-10 22:46] pjonsson opened #37 "Cancelling build takes a long time"
Killing a build by pressing the "x" down at the bottom of the display takes a long time and doesn't seem to kill the running ghc when in the middle of cabal build. haskell-src-exts is a good project for testing this, especially builds after altering InternalParser.ly.

[2014-07-10 23:44] pjonsson opened #38 "HLint annotations stopped appearing"
HLint annotations stopped appearing. I don't think I did anything special. The configuration values are correct, and it can detect the version. Here's something from my log that might be related:

[code]

[2014-07-11 00:10] pjonsson opened #39 "Highlights of multiline HLint annotations"
HLint annotations do not always cover the entire problem they highlight. This example (InternalLexer.hs in haskell-src-exts) gets highlighted from the beginning of "data" to the "| CFILE"  line that is commented out, but most of the problems (camelCase) are the constructors called `KW_` which are below the CFILE comment.

[code]

[2014-07-12 16:36] #37 closed, assigned to nobody

[2014-07-12 16:39] #24 closed, assigned to carymrobbins

[2014-07-14 13:34] pjonsson opened #40 "Hlint detection is too automatic"
Having Hlint in the path makes new projects use it without the user taking any action. If the project happens to be hlint-unfriendly that means a lot of bright-orange background in the editor.

On one hand this is a feature, but it also means that users who did not want Hlint for the project get it whether they asked for it or not. We do the same thing for stylish-haskell, but the difference is th

[2014-07-14 16:45] #40 closed, assigned to nobody

[2014-07-14 19:22] #34 closed, assigned to nobody

[2014-07-14 19:33] carymrobbins opened #41 "Create a quick start guide"
This can be a simple page added to the wiki and referenced in the readme.  It should contain basic instructions to get a user up and running with the plugin, including configuration of external tools like hlint, stylish-haskell, etc.

[2014-07-15 12:42] #36 closed, assigned to carymrobbins

[2014-07-20 06:48] carymrobbins opened #42 "Any type annotation is used for reference resolving"
Explicit type annotations used for expressions are interpreted as declarations.  For example -

[code]

In this case, the `x` in `x <- getLine` will resolve to the `x` in `print (read x :: Int)` because of the type signature.  Really, it should be the other way around.  However, that requires a new reference resolve feature for local variables.  The best fix (for now) is probably figuring out how

[2014-07-20 07:00] carymrobbins opened #43 "Reference resolve does not capture scope"
Let's say we have two modules -

[code]

Jumping to the declaration of `spam` in `Quux` will give us two options, the one from `Foo` and the one from `Bar`.  Ideally, it should already know it's the one from Foo.  Not sure the best way to go about this yet, except possibly through ghc-mod -

[code]

[code]

Or maybe, better yet, through an interactive ghc-modi session -

[code]

[code]

[2014-07-20 08:29] #39 closed, assigned to nobody

[2014-07-20 12:25] pjonsson opened #44 "New project"
I just created a new Haskell project in the hlint sources and all directories were missing. I created a new project and the directories appeared, but I could not build the project. When I removed the module in project settings and added it back I could build things. We are probably missing some project/module importer glue somewhere.

[2014-07-21 04:15] #41 closed, assigned to carymrobbins

[2014-07-23 01:46] #42 closed, assigned to nobody

[2014-07-23 01:47] #30 closed, assigned to pjonsson

[2014-07-24 08:00] carymrobbins opened #45 "Parser fails for record syntax"
Not sure why, but the Grammar Kit parser fails with `'method' unexpected` for the following source -

[code]

[2014-07-26 23:07] #45 closed, assigned to pjonsson

[2014-07-29 21:54] #7 closed, assigned to carymrobbins

[2014-07-31 01:03] carymrobbins opened #46 "IndexOutOfBoundsException for syntax error in list"
Given the following module -

[code]

Place the cursor after the comma and press the spacebar.  A space will not be inserted and the following traceback is displayed -

[code]

[2014-08-01 23:53] #46 closed, assigned to pjonsson

[2014-08-03 22:01] carymrobbins opened #47 "Add Code Style for Haskell"
Under **Preferences > Code Style** we should have a Haskell section.  At the very least we should have a tab setting so the user can control the behavior of the tab key (4 spaces, 2 spaces, etc.).

[2014-08-08 01:24] #33 closed, assigned to nobody

[2014-08-13 06:17] carymrobbins opened #48 "Parser error with indented else in do block"
The following snippet causes a parse error -

[code]

I think this has to do with the parser thinking that the dedent for `else` is closing the do block.  For instance, the following snippet parses fine -

[code]

[2014-08-13 11:53] pjonsson opened #49 "Ghc-mod annotations disappeared after upgrading ghc"
I upgraded my ghc and reconfigured/recompiled the project. I didn't upgrade ghc-mod and annotations stopped appearing. Here's a manual check:

[code]

I can see how a lot of people would end up in a similar situation when a new platform is released, so we probably want some kind of error handling for this scenario.

[2014-08-13 12:03] #48 closed, assigned to nobody

[2014-08-13 19:44] pjonsson opened #50 "Hlint --json error regions"
The following code:

[code]

Gets marked with camelCase suggestion from the beginning of the line until the `a` in eval. I don't get any warnings or similar in my log. Hlint flags the entire line:

[code]

[2014-08-15 21:23] carymrobbins opened #51 "Parse error on commented pragma"
I found an example of this in the [hlint source](https://github.com/ndmitchell/hlint/blob/master/src/Hint/Bracket.hs) where commented pragmas cause parse errors -

[code]

[2014-08-16 16:36] #50 closed, assigned to carymrobbins

[2014-08-17 09:43] #38 closed, assigned to nobody

[2014-08-17 21:40] carymrobbins opened #52 "Parse error with quasi-quoting"
The example below fails in the `parseRoutes` quasi-quoter.  If we remove those lines, the parser also fails on the `whamlet`.  Quasi-quotes should ideally parse anything until the next `|]`.

[code]

[2014-08-20 07:29] #51 closed, assigned to pjonsson

[2014-08-20 08:22] #52 closed, assigned to nobody

[2014-08-21 20:40] pjonsson opened #53 "ghc-mod not picking up cabal settings"
Not sure if this is our fault or a problem upstream, so reporting it here for starters.

https://github.com/Feldspar/feldspar-language needs `-fcontext-stack=100` which is specified in the cabal file. ghc-mod does not seem to pick that up automatically, so `Constructs.hs:217` gets a red mark on `render` relating to that context-stack overrun.

I'm using ghc-mod 5.0.1 compiled with ghc 7.8.3. I did

[2014-08-26 21:18] carymrobbins opened #54 "GHC configured in multiple locations"
@pjonsson - I just realized that we have that path to GHC set explicitly under the Compiler section as well as implicitly by the SDK.  It probably doesn't make sense to have it in both places.  I would suggest keeping the SDK one since I'm not sure that the Compiler one is actually being used anywhere.  It would probably make sense to put a label showing the GHC version with (maybe) a hyperlink to

[2014-08-28 04:44] carymrobbins opened #55 "Parser consumes too much in do block"
I'm pretty sure the problem here either lies in `HaskellParserUtilBase.stateHackMess` or `HaskellParserWrapper.increaseRbraceDebt`.  I'm having trouble deciphering the logic in those methods.

The line `runGhcModT' :: IOish m ...` is being considered part of the `do` block and parsed as an `exp` instead of a `gendecl`.

[code]

[2014-09-10 03:07] carymrobbins opened #56 "HLint needs language extensions from the cabal file"
If a Haskell source file implicitly requires a language extension from the cabal file (e.g. QuasiQuotes) we need to pass this to the hlint executable using the -X switch.  Otherwise, hlint will report parse errors.

[2014-09-11 02:13] carymrobbins opened #57 "Exclude build directories from file search"
It is rather annoying to use the file search (Cmd+Shift+O) to search for **DynFlags** and get **DynFlags.dyn_hi**, **DynFlags.hi**, and **DynFlags.hs**.  The user can manually fix this by going to **IDE Settings > File Types > Ignore files and folders**, then appending `.cabal-sandbox;build;` to the field value.  The IDE should do this automatically for you as it does for other plugins; for instan

[2014-09-11 02:48] #57 closed, assigned to carymrobbins

[2014-10-06 04:35] #49 closed, assigned to carymrobbins

[2014-10-10 11:35] sideeffffect opened #58 "Outdated night builds"
as of this time, the newest build is from 19-Jul-2014
http://community.haskell.org/~pj/haskforce-nightly/

[2014-10-10 21:26] carymrobbins opened #59 "Ignore hlint warning intention works incorrectly on Windows"
When testing on Windows I noticed that the ignore intentions for HLint add the `{-# ANN #-}` pragma, but don't insert a newline before hand, so it ends up after the module declaration -

[code]

When choosing the "Ignore all 'redundant do' warnings" we end up with -

[code]

Really what we want is -

[code]

While this seems to have something to do with the Windows-specific newline character, we a

[2014-10-12 01:00] sideeffffect opened #60 "Can't parse hash-bang pattern"
the parser doesn't like
# !/usr/bin/env runhaskell

at the beginning of haskell source files

[2014-10-12 03:00] #58 closed, assigned to nobody

[2014-10-12 03:46] #60 closed, assigned to nobody

[2014-10-12 11:59] sideeffffect opened #61 "Error checking doesn't support multiple cabal components"
`derive` in `derive makeArbitrary ''Term` gets underlined

![image](https://cloud.githubusercontent.com/assets/9019485/4605979/0daab29c-5207-11e4-8ed5-9a1159117d32.png)

if this doesn't provide enough info, I can make a minimal project where this error professes

[2014-10-12 12:27] sideeffffect opened #62 "Parsing/syntax-highlighting Type constructor, Data constructors, Modules, parentheses/brackets/braces and commas"
as of now, the parser/syntax-highlighter can't distinguish Type constructors (Maybe), Data constructors (Just), Modules (Test.Framework), parentheses/brackets/braces ()[] and commas

so all these are printed on screen in the came color (purple by default)

![image](https://cloud.githubusercontent.com/assets/9019485/4605989/ae464216-5207-11e4-944e-cb75f8ab6293.png)

or you can set them all to other

[2014-10-17 01:32] #62 closed, assigned to nobody

[2014-10-20 02:27] carymrobbins opened #63 "Order of test suites seems to matter"
The order of the test suites in `HaskellTestCase` seems to matter.  Re-ordering them to have `HaskellTypedHandlerTest` come first fixed the issue where `testPaired` was failing.  However, this caused `HaskellParserTest.testInternalLexer` to fail since it was resulting in different AST output.  For now I've just updated the expected results to match the new output.  I think this also raises the que

[2014-10-21 18:51] sideeffffect opened #64 "No support for UnicodeSyntax"
the lexer (I suppose) doesn't understand characters like `∷` or `→` that are enabled with `{-# LANGUAGE UnicodeSyntax #-}`

![image](https://cloud.githubusercontent.com/assets/9019485/4724704/0289b5f4-5953-11e4-8164-252c886fa0d8.png)

[2014-10-31 16:01] lykahb opened #65 "Integration with other JetBrains Products"
After I installed the plugin, there is only syntax highlighting and the plugin settings are not available. I use WebStorm 9.0.

[2014-10-31 16:45] adinapoli opened #66 "AssertionError: Language Language: Haskell doesn't participate in view provider HaskellViewProvider{"
Hi there,

thanks for the effort of providing an IntelliJ Haskell plugin!
Importing an Haskell project using the latest intelliJ (13.10 Community edition) and the latest beta of the plugin this is what I get everytime I click on a folder in the project view:

[code]

No files are showed, either.
Alfredo

[2014-10-31 17:26] rodlogic opened #67 "IntelliJ Hangs after installing plugin and configuring tools"
Restarting shows the same problem: the UI is simply locked and there are no interactions. I only see the workspace (with an HS project) and the Tip of the Day.

[2014-10-31 21:53] jkozlowski opened #69 "ghc-mod version 5.1.0.2 compiled by GHC 7.8.3 freezes"
Hi,

When I enable the path to my ghc-mod and open a Haskell module IntelliJ simply freezes with the The Spinning Beach Ball of Death.

I am on Mac OS X 10.10 with JDK 8, IntelliJ 13.

I took a threaddump and it looks like it is blocking on trying to startup ghc-mod.

The interesting bit is here:

[code]

Only enabling ghc-modi works fine (ghc-modi version 5.1.0.2 compiled by GHC 7.8.3). Is this v

[2014-11-01 01:43] rubioz opened #70 "Haskell Tools section not loading on Windows"
First of all, I would like to thank you for you great effort building this IntelliJ plugin. Unfortunately when I try to configure the _Haskell Tools_ under _Settings_ on Windows, I cannot get beyond the spinner so I cannot tell IntelliJ where ghc-mod, ghc-modi or stylish-config are located.

Here you can find what IntelliJ 13.1.1 logs look like at the moment I click on Haskell Tools section:

[cod

[2014-11-01 02:46] johnbcoughlin opened #71 "Spurious parse warning after multiline list of strings with trailing commas"
I am running version 0.3-beta6.

The following code gives a red underline on the first character of `val`, with the message `" unexpected`. The problem does not occur if the comma is placed at the beginning of the second line, or if the values in the list are not string literals.

[code]

[2014-11-01 04:06] johnbcoughlin opened #72 "Infix functions with qualified names not highlighted properly"
I am running version 0.3-beta6.

The following code doesn't apply the `Infix Function` highlighting rule to `Prelude.elem`.

[code]

[2014-11-01 06:23] vasily-kirichenko opened #73 "Run command does not work"
I added a "Haskell Application" configuration, hit Run and cabal raised the following error:

[code]

[code]

IntelliJ and the addin are of the latest available versions.

[2014-11-01 06:55] #66 closed, assigned to carymrobbins

[2014-11-01 15:16] johnbcoughlin opened #74 "README is inaccurate for OS X"
It seems that installing Intellij with the OS X installer does not create the `<IDEA>/tools` folder. The README should be updated with the correct steps for this case.

Go ahead and assign this to me, as I'm gonna be figuring out the correct steps.

[2014-11-02 06:49] vasily-kirichenko opened #75 "Wrong code coloring"
For the following code

[code]

the colorization result is:

![hack_force_wrong_coloring](https://cloud.githubusercontent.com/assets/873919/4874505/3b256f68-625c-11e4-9ba0-2aaf56c16837.png)

Is it normal? If so, explain what it means, please.

[2014-11-02 09:14] #72 closed, assigned to carymrobbins

[2014-11-02 09:40] #71 closed, assigned to carymrobbins

[2014-11-02 09:44] #75 closed, assigned to nobody

[2014-11-02 11:06] #69 closed, assigned to carymrobbins

[2014-11-02 14:06] rodlogic opened #76 "Syntax highlighting lexer error"
(separate issue created from #67)

I got an exception while loading the https://github.com/nominolo/lambdachine project in HaskForce:

[code]

There are many files that fail to lex such as [compiler/Lambdachine/Interp/Exec.hs](https://github.com/nominolo/lambdachine/blob/master/compiler/Lambdachine/Interp/Exec.hs), [tests/Bc/Bc0007.hs](https://github.com/nominolo/lambdachine/blob/master/tests/Bc/B

[2014-11-02 14:06] #67 closed, assigned to carymrobbins

[2014-11-02 15:28] sideeffffect opened #77 "beta.7 build still identified as beta.6"
the [plugin jar `intellij-haskforce-v0.3-beta.7.zip`](https://github.com/carymrobbins/intellij-haskforce/releases/download/v0.3-beta.7/intellij-haskforce-v0.3-beta.7.zip), the file `META-INF/plugin.xml` still has `<version>0.3-beta.6</version>`

(although in the file [`META-INF/plugin.xml`](https://github.com/carymrobbins/intellij-haskforce/blob/29e6f5bc302b4b7c4e831528004b3de4cb885398/META-INF/pl

[2014-11-02 15:48] sideeffffect opened #78 "beta.7 needs Java 8"
the `beta.7` build needs IDEA to run on JRE 8, otherwise it throws 3 exceptions

`unsupported major.minor version 52.0`

this probably isn't a bug, but I was sill quite surprised what's going on, since the `beta.6` or lower did OK on JRE 7; this change in dependencies was silent

at first I thought it's something wrong with the HaskForce plugin

[2014-11-02 19:21] NightRa opened #79 "The "Add type signiture" action doesn't add it"
The "Add type signiture" action doesn't add the type signiture.

[2014-11-02 20:29] #78 closed, assigned to nobody

[2014-11-02 20:34] #77 closed, assigned to nobody

[2014-11-02 20:39] #70 closed, assigned to carymrobbins

[2014-11-04 14:55] jacksonja opened #80 "Automated continuation indent support"
It would be nice to have the IDE guess where to put continuation indents, based upon code context, when entering a new line, instead of requiring manually tabbing or spacing to the proper column.

[2014-11-05 00:29] robertmassaioli opened #81 "Problem parsing 'where' statement in function definition."
The following code compiles but produces errors in IntelliJ idea:

![screen shot 2014-11-05 at 11 26 51 am](https://cloud.githubusercontent.com/assets/149178/4910672/94df6e1e-6482-11e4-8272-126d9606ac89.png)

Not sure yet what the problem is yet but I can [link you to our code](https://bitbucket.org/eerok/ping-me-connect/src/f669f9632389b09324eaffb24f2203a086b1addb/src/Site.hs?at=master#cl-55).

[2014-11-05 17:24] weihsiu opened #82 "haskell editor behaves strangely"
thanks for the wonderful plugin, it is by far the best haskell ide i have seen in terms of ease of installation and overall usefulness.  however, i ran into some snags recently.  i am on mac osx 10.10, jre 7u67, and idea 14.  the haskell editor pane sometimes behave rather strangely: some of the time i could not enter anything at all, other times i could enter everything except spaces.  the remedy

[2014-11-06 07:18] #81 closed, assigned to nobody

[2014-11-06 10:35] dimchansky opened #83 "Automatic type signature addition doesn't work on Windows"
Should be

![](http://carymrobbins.github.io/intellij-haskforce/images/add-type-sig.gif)

but actually nothing happens when I press "Add type signature" (on Windows, IntelliJ IDEA 13.1.5, jre 1.7.0_45-b18 amd64, HaskForce v0.3-beta.8)

[2014-11-06 15:07] #83 closed, assigned to nobody

[2014-11-06 19:40] talios opened #84 "Deploy plugins/releases to Jetbrains Plugin Repository"
It would be awesome to deploy the releases of the plugin to the [Jetbrains Plugin Repository](https://plugins.jetbrains.com) so that new releases can be automatically downloaded/installed into the IDE without manually downloading etc. etc.

Not sure if this can be automated, but it's little more than a form upload to the website.

[2014-11-07 05:40] #59 closed, assigned to carymrobbins

[2014-11-07 05:40] #79 closed, assigned to carymrobbins

[2014-11-07 06:32] #74 closed, assigned to nobody

[2014-11-07 07:16] #84 closed, assigned to nobody

[2014-11-10 04:22] carymrobbins opened #86 "Resolving references requires refactoring"
The current implementation for resolving references is pretty inefficient as it walks every tree in every file in your project each time you attempt to jump to a declaration.

* [HaskellUtil](https://github.com/carymrobbins/intellij-haskforce/blob/master/src/com/haskforce/utils/HaskellUtil.java#L28-L54)
* [HaskellReference](https://github.com/carymrobbins/intellij-haskforce/blob/master/src/com/has

[2014-11-11 03:40] #43 closed, assigned to nobody

[2014-11-11 04:58] #73 closed, assigned to carymrobbins

[2014-11-11 05:32] #64 closed, assigned to nobody

[2014-11-12 04:32] carymrobbins opened #88 "Implement Haskell Formatter"
Pull request #87 implemented code style settings; however, we need a formatter so the code sample will update the indents accordingly.  This may also resolve #80 for auto-indent support.

Here's the official IntelliJ documentation on the topic -

https://confluence.jetbrains.com/display/IDEADEV/Developing+Custom+Language+Plugins+for+IntelliJ+IDEA#DevelopingCustomLanguagePluginsforIntelliJIDEA-Code

[2014-11-14 05:16] johnbcoughlin opened #89 "Find usages within module broken in Intellij 14"
The Find Usages tool doesn't play nicely with expressions that don't have a type signature. The following module is a reproduction on 0.3-beta.10, and Intellij 14:

[code]

Find Usages finds 3 usages of `a`, but none of `b`.

[2014-11-20 14:42] archaeron opened #90 "Show Types on hover"
t would be really helpful if we could see the type of an expression by just hovering over it.

Example:

[code]

It could show a tooltip with something like `n :: Nat` when I hover over `n`.

[2014-11-25 22:08] AndrewRademacher opened #91 "ghc-modi hangs/consumes wrong input"
When attempting to open a haskell file that is out of sandbox Haskforce causes a hang. The hang doesn't resolve until Intellij is closed and restarted. No hang occurs if a sandbox has been created and all dependencies have been installed before hand.

OSX Yosemite
Intellij 14.0

stylish-haskell 0.5.11.0
hlint 1.9.12
ghc-mod 5.2.1.1
ghc-modi 5.2.1.1

ghc 7.8.3
cabal 1.20.0.2

[2014-12-03 16:28] bmjames opened #92 "Support Rank-N types in syntax"
The GHC `RankNTypes` extension is used fairly commonly, and it would be great if it was supported. Currently, the parser doesn't support syntax like this, which is valid with `RankNTypes`:

![image](https://cloud.githubusercontent.com/assets/21567/5283912/a491f718-7b08-11e4-9863-155e52623358.png)

[2014-12-04 12:59] PkmX opened #93 "Support Closed Type Families"
[code]

This currently highlights `where` as an unexpected token in the closed type family declaration.

[2014-12-04 13:34] bmjames opened #94 "Support Functional Dependencies syntax"
The following code is valid with GHC's `FunctionalDependencies` extension, but the parser fails on `|`:

[code]

[2014-12-09 17:46] fatlazycat opened #96 "Odd issue"
Attempting to use haskforce for the first time.

When compiling get an odd error of

Error:Module 'haskell-wordcounting' production: java.lang.NoClassDefFoundError: org/apache/commons/lang/SystemUtils

Any ideas ?

Thanks

[2014-12-10 03:07] #94 closed, assigned to nobody

[2014-12-10 03:23] carymrobbins opened #97 "Start using Scala"
I'll put this out there to see if there are any opinions.

I personally am enjoying Scala and think that it would be a great fit for implementing HaskForce.  Here's a quick pros and cons list off the top of my head -

**Pros**
* Correctness is more easily attainable
* Logic can be more concise and possibly simpler
* Traditional design patterns can still be applied and remain useful.
* Functional i

[2014-12-10 06:36] #96 closed, assigned to nobody

[2014-12-10 16:00] #91 closed, assigned to carymrobbins

[2014-12-10 23:43] #82 closed, assigned to carymrobbins

[2014-12-14 11:33] KasperJanssens opened #98 "List of supported keyboard shortcuts"
Is there somewhere a list of the supported keyboard shortcuts in the documentation? Didn't seem to find it.

[2014-12-14 21:20] #93 closed, assigned to nobody

[2014-12-16 08:17] #98 closed, assigned to nobody

[2014-12-16 08:31] KasperJanssens opened #99 "Lag when typing in larger file"
Hey,

I seem to have a serious lag when typing in a somewhat larger hspec test file. The file contains about 300 lines of code (much of those lines are taken by Data.Tree types that take part in the tests, so while I agree that the file is a bit too large, it's not really avoidable, and not everything are functions.).

Every time now when I try to add a new test to my current test suite (in other

[2014-12-16 17:30] carymrobbins opened #100 "Locked on indexing processes"
I noticed today that IntelliJ locked up completely during the indexing process.  A thread dump seems to imply that there may be conflict between the indexing process and the parser.  This seems to have happened after I used `cabal get` to grab some sources, particularly base and http-conduit.

[code]

[2014-12-20 09:22] #89 closed, assigned to nobody

[2014-12-22 07:47] KasperJanssens opened #101 "during compilation the location of the sandbox isn't shown correctly"
'Information:cabal: Notice: installing into a sandbox located at', and then nothing anymore. I guess the objective is to show the (full or relative) path of the sandbox. I'm on linux, so the sandbox is called .cabal-sandbox in my project folder, maybe something to do with the leading dot? I think the sandbox didn't exist yet when I called the compilation. I turned on the cabal sandbox option in th

[2014-12-22 12:42] KasperJanssens opened #102 "'Renaming' module/folder issue(s)"
Rename has some issues
- Renaming a module in the project explorer (file name) doesn't rename the module name in the file itself
- Renaming a 'folder' in the project explorer doesn't rename the module itself
- Renaming a module in the file doesn't rename the file name

(I think these can be done safely as to my knowledge haskell requires the file name and the module name to be the same, and contai

[2014-12-22 12:42] KasperJanssens opened #103 "Ghc-modi restart doesn't work"
ghc-modi crashed on startup, Tools -> Restart ghc-modi  keeps complaining about having to open a haskell file first, but I have one open.

[2014-12-22 21:27] KasperJanssens opened #104 "Scoping related issues during rename"
* Renaming the qualified import doesn't rename the invocations (if you have import qualified AA as A, and you invoke a function A.f somewhere and then try to rename A to B, the invocation isn't renamed
* Renaming a module will also rename a data constructor which has the same name in the module, for one reason or another.

[2014-12-24 06:01] #103 closed, assigned to nobody

[2014-12-28 22:20] bmjames opened #106 "Parser doesn't accept # as an operator"
I'm seeing an error from the parser when it encounters an operator named `#`:

![image](https://cloud.githubusercontent.com/assets/21567/5565142/65c2f452-8edf-11e4-8d83-5be222816a22.png)

[2014-12-29 03:23] jaredrhall opened #107 "Syntax highlighting error after using a where block"
Using a `where` block appears to break syntax highlighting for code comments following the `where` block:
![screenshot from 2014-12-28 21 18 57](https://cloud.githubusercontent.com/assets/9145692/5565943/4bfe521c-8ed7-11e4-9aab-c65679f24138.png)

[2015-01-02 04:36] carymrobbins commented on #107
This seems strange.  I wasn't able to produce it on Mac.  However, it seemed like I was able to reproduce it temporarily on Debian with XMonad.  When I first typed a comment in a blank module, I got erroneous syntax highlighting like your screenshot.  However, upon editing the file further it seemed to go away.  I haven't been able to reproduce it since.

@jaredrhall - Does this happen consistentl

[2015-01-02 04:51] carymrobbins commented on #90
**Update** - Kudos to @KasperJanssens who is currently implementing this with ghc-mod in pull request #105.  It seems to work quite well, so if you are interested you are more than welcome to build and test his branch to see if it works for you.  I'm expecting that it'll get merged pretty soon.  Once that happens, I'll ship a new release for it.

[2015-01-03 12:40] bmjames commented on #106
I can confirm this now works for me, thanks!

[2015-01-04 06:43] carymrobbins commented on #106
Thanks @bmjames!  I'll hold off on closing this until the next release.

[2015-01-04 06:44] carymrobbins commented on #92
@bmjames - This one should be resolved as well.  I'll close this issue once the latest release is out.

[2015-01-04 14:54] bmjames opened #108 "Build problems on Windows"
I think I've seen successful builds on my Windows machine in the past, but I can't pin down when things changed. I've tried a number of things to no avail, including:

  * Removing and re-creating the intellij-haskforce project files
  * Using IntelliJ IDEA 13 and 14
  * Building with JDK 7 and 8

Currently, when I run the tests, I see these issues every time:

### Unicode parsing trouble
The pars

[2015-01-04 17:35] carymrobbins commented on #108
Excellent summary @bmjames!  It seems that in some cases we actually *shouldn't* use the platform-specific newline character, and this may also include the file separator.  For instance, I resolved some issues on Windows by replacing the platform-specific newline with the standard '\n' character.  See commit 88f6017 as an example.

As for the unicode issues, that seems really familiar.  I thought

[2015-01-04 18:47] carymrobbins commented on #108
This may be useful regarding the test suite.  Maybe we need to explicitly use the `-Dfile.encoding=UTF-8` argument.

http://stackoverflow.com/questions/14823160/java-unicode-issue-on-windows

[2015-01-04 18:51] bmjames commented on #108
Using just `\n` does seem to fix the newline errors for me; the change is in c0e2f3d3c15f71f77f8 if you'd like to use that.

And thanks for looking at the Unicode issue. I write a fair bit of Haskell on my Windows machine, so it would be great to be able to use HaskForce there.

[2015-01-04 19:01] bmjames commented on #108
Regarding the `file.encoding` property: If I make the test class print the result of `System.getProperty("file.encoding")`, then I see `UTF-8`.

[2015-01-04 22:51] bmjames commented on #108
Your intuition about the path separator was also correct; 9265cbca9b2b contains the changes that made `HaskellFoldingBuilderTest` work for me.

[2015-01-04 23:33] carymrobbins commented on #108
Ok, the commit above fixes the file separator issue (did that right before I saw your commit, @bmjames).  The only thing pending now is the unicode issue, which seems to be related to JFlex.  Although, the GhcUtilTest appears to be failing as well, although I'm thinking that it will be pretty trivial to resolve.

@bmjames - Unless you are using `UnicodeSyntax`, you should be able to build and use

[2015-01-05 17:30] jaredrhall commented on #107
@carymrobbins, Sorry for my delay - I've been away for a few days.

Reproducing it today seemed to be a bit tricky. I created a new file and attempted to just insert the code I had that included the where block. When I attempted to make a comment after the where block, highlighting worked properly. I removed the comment, and then placed a comment before the code. This time, when I went to make the

[2015-01-06 20:30] bmjames opened #109 "Invalid tool paths on Windows if the same tool is found in more than one place"
The Windows `where` command, unlike `which`, will show *all* matching files, not just the first one it encounters. (Annoyingly there's no option to make it show only the first.)

So for example, if I look for `hlint` on my Windows machine, it gives me the following output:

    F:\intellij-haskforce>where hlint
    C:\Users\Ben\bin\hlint.exe
    C:\Users\Ben\AppData\Roaming\cabal\bin\hlint.exe

Wh

[2015-01-08 14:44] #109 closed

[2015-01-08 14:47] carymrobbins commented on #109
@bmjames - Thanks for finding and knocking this one out!

Note that github does some commit message parsing, so it interprets `fix #issue` as an indication to close the issue.  I like to use `refs #issue`, that way all commits related to an issue are associated accordingly, but no changes will be made.  No big deal at all, just FYI.

[2015-01-08 16:12] bmjames commented on #109
@carymrobbins I hadn't realised that about "fix", I'll use "refs" in future, thanks for pointing that out.

[2015-01-09 05:34] #92 closed

[2015-01-09 05:35] #106 closed

[2015-01-09 06:01] carymrobbins commented on #90
The latest release is out and currently ships with this feature!  Thanks again to @KasperJanssens for implementing it.  It currently requires **ghc-mod(i)** and can be triggered by placing the cursor on a name (or highlighting an expression) and pressing `Alt =` on Windows/Linux or `F11` on Mac.  It can be found in the menus under **View > Type Info**.

[2015-01-09 06:01] #90 closed

[2015-01-09 11:46] tolysz opened #111 "Syntax highlighting string escapes escape"
Everything after ↓ is highlighted as a string

     s = "\\\""

[2015-01-09 13:58] archaeron commented on #90
it seems to work. this is soooo cool!
Thank you very much.
I believe this is great especially for beginners.

[2015-01-09 13:58] JorisM commented on #90
@carymrobbins @KasperJanssens
aaahh thank you so much! this is wonderful news!

[2015-01-09 22:22] carymrobbins opened #112 "Parse and highlight valid and invalid string escapes"
String escapes (`\n`, `\\`, `\x2190`, etc.) should be colored appropriately inside of strings.  Invalid escapes should also be highlighted, but preferably with red to indicate an error.

[2015-01-09 22:48] carymrobbins commented on #111
Nice catch @tolysz!  The next release will have this resolved per the commit above.

[2015-01-09 22:48] #111 closed

[2015-01-10 00:44] archaeron opened #113 "New feature to show types doesn't work on windows"
I've seen the new feature from #90 work on linux and it's perfect.
On windows though I get:

tested on two machines with ghc-mod 5.1.1.0 and 5.2.1.2

[2015-01-11 14:56] KasperJanssens commented on #113
Weird, because I don't use the SystemUtil in GhcModi (I actually should have, didn't know this existed) : https://github.com/carymrobbins/intellij-haskforce/blob/cee8c2c8be9112652965b1f63ab714e1d066b080/src/com/haskforce/highlighting/annotation/external/GhcUtil.java

I seem to have run out of windows some time ago, can't really reproduce, so I'm going to start guessing. It makes me think of a jvm

[2015-01-12 07:34] archaeron commented on #113
Is there a log that I can paste here that helps find the error?

[2015-01-12 07:38] KasperJanssens commented on #113
Don't think so, but start with the output of  'java -version' on that machine.

[2015-01-12 10:26] KasperJanssens opened #115 "StubIndex implementation of shouldCreateStub cannot interact with psi trees"
According to https://devnet.jetbrains.com/message/5532536#5532536 the interaction with psi trees in those functions is what makes StubIndex stackoverflow when used from for example HaskellReference. Should only base itself on AST apparently. This is not an outward visible issue of course, just logged for reference, might try to implement a version of a fix for this myself.

[2015-01-12 14:47] tolysz commented on #107
I have something and it has `syntaxhighlighting` in it:

    Negative start offset: (-1,772);
    java.lang.Throwable
            at com.intellij.openapi.diagnostic.Logger.error(Logger.java:115)
            at com.intellij.openapi.util.TextRange.assertProperRange(TextRange.java:212)
            at com.intellij.openapi.util.TextRange.assertProperRange(TextRange.java:204)
            at com.intellij

[2015-01-12 16:30] tolysz opened #116 "Comments `add · remove /= id`"
adding/removing comments with `ctrl + / ` changes indentation (moves from 1 space out to zero)
eg for:

    data YoutubeChannel = YoutubeChannel
     { _ycKind                :: ApiKind "youtube#channel"
     , _ycEtag                :: Text
     , _ycId                  :: Text
     }

[2015-01-13 10:18] fatlazycat opened #117 "NixPkgs support"
Any plans to add support for nix package mgt / nix shell etc ?

Thanks

[2015-01-13 12:28] NobbZ opened #118 "GHC-modi error on startup, not restartable"
Hi there!

On startup of HaskForce I get the following:

[code]

I'd like to restart ghc-modi, but the `Tools`-menu doesn't have an `Restart ghci-modi`-entry.

Contents of `lib/Aar/AST.hs`:

[code]

Compiling the project on the command-line works flawlessly.

Also just for completeness:

[code]

Haskforce Version: v0.3-beta.18
IntelliJ IDEA 14.0.2

[2015-01-13 14:01] carymrobbins commented on #113
I have tried this on Windows 7 and it works well.  Here are the specs from **Help > About** -

[code]

What's weird about this issue is that the class file **SystemUtil** is built into the jar, so it's not clear why your JVM is not able to find it.  It's particularly strange that this is happening on two different machines.  I'd be interested to see if uninstalling and reinstalling the plugin help

[2015-01-13 14:12] carymrobbins opened #119 "Should display a message when initializing ghc-modi"
Starting up ghc-modi takes a few seconds and seems to halt the IDE.  Until we can figure out how to prevent it from halting the IDE, we should display a message to the user stating something like **"Initializing ghc-modi..."** so it's clear *why* the IDE is halting.

[2015-01-13 14:18] carymrobbins commented on #118
This seems like a conflict between the version of Cabal you are using and ghc-mod.  If you want to use Cabal 1.22, you'll need to also have GHC 7.10.  See https://github.com/kazu-yamamoto/ghc-mod/issues/417

[2015-01-13 22:48] NobbZ commented on #118
What a pity. Also it seems that I destroyed my haskell in general by trying to update ghc… Even when I try to go back I can't install any package from hackage… It seems that I have to completely rebuild my haskell stack now.

[2015-01-17 15:52] PkmX opened #120 "Highlight `mdo` when `RecursiveDo` is enabled"
`mdo` should be highlighted as a keyword like `do` and `data` when the `RecursiveDo` extension is enabled.

[2015-01-17 15:56] PkmX commented on #120
... and the `rec` keyword that is enabled with `RecursiveDo`/`DoRec` extensions as well.

[2015-01-18 00:36] carymrobbins commented on #118
Oh no!  Sorry to hear about that.  Hopefully you've been able to get things resolved.  I've had issues in the past with using GHC HEAD and Cabal and the best solution was just resorting back to the latest GHC release.

Once ghc-mod supports Cabal 1.22 it should integrate seamlessly with HaskForce.  If you encounter any other issues feel free to report them so we can get them resolved.

Good luck o

[2015-01-18 21:31] carymrobbins commented on #120
I think it's reasonable enough to highlight `mdo` and `rec` as reserved words all of the time.  We could go the route of inspecting the file's pragmas, but then we'd also need to check the Cabal file's extensions as well, and it just get's more complicated from there.

The commit referenced above simply adds these as reserved words to the standard highlighting scheme.  It should be available in th

[2015-01-18 21:31] #120 closed

[2015-01-18 21:33] #118 closed

[2015-01-18 23:16] carymrobbins commented on #107
@tolysz - That looks like a bug from HLint attempting to use an invalid text range.  I'll log it as a separate bug.

[2015-01-18 23:17] carymrobbins opened #121 "HLint attempts to use a negative offset"
From @tolysz, seems we have an issue with HLint using a bad offset when applying an annotation (originally reported in #107).

[code]

[2015-01-18 23:44] carymrobbins commented on #47
This issue has been resolved per the mentioned pull request.  Issue #88, once addressed, should provide the hooks needed to get a **Reformat Code** action going.

[2015-01-18 23:44] #47 closed

[2015-01-19 13:52] PkmX commented on #120
Thanks. I just noticed that `forall` is not highlighted either, maybe we should add them all? Is there a list of all keywords that can be enabled by extensions?

[2015-01-19 16:42] carymrobbins commented on #116
Looks like this is an issue in IntelliJ.  The uncomment action attempts to be smart and remove a single space between the comment prefix and the commented code.  However, this breaks down for us since our comment prefix is `"-- "` with a trailing space.  Without the trailing space we'd end up creating code that doesn't parse in other places since `--?` is a valid operator, where `?` is any valid o

[2015-01-21 16:23] NightRa opened #122 "Renaming names with primes dosn't work"
Renaming ```foo'``` to ```foo``` doesn't catch the uses of ```foo'```
While renaming ```foo``` to ```foo'``` works well.

[2015-01-22 05:25] carymrobbins commented on #122
Thanks for the report @NightRa, but unfortunately I haven't been able to reproduce this.  Could you give a more specific example?  For instance, this worked for me -

[code]

Renaming either the declaration or the usage of `foo'` still results in a proper refactor.  I am currently using `Shift+F6` for rename refactoring.

[2015-01-22 07:15] NightRa commented on #122
[code]

[2015-01-22 07:22] carymrobbins commented on #122
Ah ok.  That has to do with reference resolve of function arguments, which isn't currently implemented.  That should be completed fairly soon as there is currently a pull request that supports at least some of that.  Note that rename refactoring of function arguments shouldn't work regardless of the prime.

[2015-01-22 07:24] NightRa commented on #122
@carymrobbins It works for simple names currently..
Thanks!

[2015-01-24 08:01] NightRa opened #124 "Cabal 1.22 and ghc-modi incompatibilities"
I get the following error on startup:
Executing ghc-modi command 'check C:/Users/ilan3_000/Programming/AI/Furniture/src/Model.hs' failed with error: NG BUG: GMECabalFlags (GMEString "extractField: failed extracting configFlags from input, input contained `configFlags'? False")

It fails with both ghc-modi versions: 5.1.1.0 and 5.2.1.2

The code I'm working on is here:
https://github.com/NightRa/Fu

[2015-01-24 08:03] NightRa commented on #124
Also, I can't find the ```Tools > Restart ghc-modi``` the error is suggesting to try. (does it even exist?)

[2015-01-24 12:03] NightRa commented on #124
Seems to be duplicate of https://github.com/Atsky/haskell-idea-plugin/issues/77.
```cabal clean``` doesn't solve the issue.
After lots of hours, I figured out it's because I upgraded to cabal-1.22

[2015-01-24 14:31] NightRa commented on #124
Now it fails with ```Executing ghc-modi command 'browse -d Prelude' failed with error: Failed to write command to ghc-modi: ```

[2015-01-24 15:57] carymrobbins commented on #124
Does ghc-mod(i) work from the command line?  This sounds like a cabal conflict.  Also, I'm not sure that ghc-mod fully supports cabal 1.22 yet.  See https://github.com/kazu-yamamoto/ghc-mod/issues/417

[2015-01-24 16:51] fatlazycat opened #125 "ghc on osx"
Am trying to use http://ghcformacosx.github.io

How is haskforce trying to find ghc ? via the path ?

Am getting

16:45:50 ghc-modi error
         Killing ghc-modi due to process failure.
         You can restart it using Tools > Restart ghc-modi
         Executing ghc-modi command 'check /Users/graham/Development/BitBucket/haskell/helloworld/src/Main.hs' failed with error: NG BUG: GMEIOException

[2015-01-26 20:02] jkozlowski commented on #117
+1 Was going to ask the same question

[2015-01-28 11:03] KasperJanssens opened #126 "Type Information doesn't play nice with line wraps"
I suppose the wrong coordinates in the file are used, there are likely coordinates that take line wraps into account. Right now, the behavior is that the type info returns the type information from the correct column but from the wrong line, can be a bit weird. Will try to fix this.

[2015-01-28 15:41] carymrobbins commented on #125
ghc-mod itself seems to use the path, even though there is a command line argument to pass it the path to ghc.  Unfortunately, last time I tried to get this to work with the command line argument it didn't seem to make a difference and I had to hack around with the PATH.  I'll dig in and figure out a good way to handle this.  Ideally, HaskForce should be using the GHC SDK to find the path.

[2015-01-28 15:42] carymrobbins commented on #126
I wonder if this is related to this GHC bug: https://ghc.haskell.org/trac/ghc/ticket/4150

[2015-01-28 15:48] KasperJanssens commented on #126
Hmm, not sure. There doesn't seem to be a problem with multi line comments for example.

[2015-01-29 17:59] grguthrie commented on #31
I am just trying to learn how to use this - and I have a Cabal with one executable, which does get built and the .exe put into dist/build/, but I get this same error when trying to run it - do I have some configuration error, or is this a bug as above?

[2015-01-31 07:12] carymrobbins commented on #31
@grguthrie: This is a strange error that I have seen before, but it's been quite a while.  If you are working on an open source project you could point me to it and possibly I may be able to reproduce and resolve the bug.

Otherwise, if you just want to get past it, a possible workaround might be to close the project and, from outside of IntelliJ, remove the IntelliJ project files, meaning the `.i

[2015-01-31 13:47] grguthrie opened #127 "ghc-modi error"
(New user) - I was not getting any of the nice GUI features (autocompletion, ..) and someone pointed out I needed to install ghc-mod (as per the instructions!), but now I get this error:
"ghc-modi error
Killing ghc-modi due to process failure. You can restart it using Tools > Restart ghc-modi Executing ghc-modi command 'check D:/Projects/Heat/HaskellDemo/src/PowerSet.hs' failed with error: NG BUG:

[2015-01-31 17:17] grguthrie commented on #31
Thanks. It is a very simple project - basically a "Hello World" demo to try this IDE for Haskell.
I tried your suggestion, but it did not seem to find the files (cabal, .hs), so I started a new project - and it complains:
Cannot start compiler: the SDK is not specified for module "PowerSet".
Specify the SDK at Project Structure dialog.

[2015-01-31 17:43] grguthrie commented on #31
I started a new project. Added my test program Demo.hs, and a Main.hs that imports and calls a function in Demo. It seems to build OK, but how do I run it? The executable is in dist/build/Demo/Demo.exe, but run asks for a configuration, and if I chose Haskell Application, it doesn't seem to allow one to actually run (grayed out). I am not sure what is different now, or how to proceed.

[2015-02-02 03:35] carymrobbins opened #128 "Improve SDK and run configurations"
The SDK and run configuration setup can be a little complicated.  Let's figure out how to make this simpler and more intuitive for a new user.

[2015-02-02 03:36] carymrobbins commented on #31
@grguthrie: This sounds like a slightly different topic, so let's move the discussion over to #128 to keep it relevant.

[2015-02-02 03:39] grguthrie commented on #31
Yes, thanks.

[2015-02-02 03:39] grguthrie commented on #31
Yes, thank you.

-------------------------------------------
Gregory Guthrie
-------------------------------------------

From: Cary Robbins [mailto:notifications@github.com]
Sent: Sunday, February 01, 2015 9:36 PM
To: carymrobbins/intellij-haskforce
Cc: Gregory Guthrie
Subject: Re: [intellij-haskforce] Error Java JDK isn't specified for module .. (#31)

@grguthrie<https://github.com/grguthrie>: T

[2015-02-02 03:56] carymrobbins commented on #128
@grguthrie described the following situations in #31 -

This sounds like you attempted to use *Open Project* instead of *New Project*.

And also -

A couple of things here.

First, it seems that the SDK field is missing when you go to create a new project.  For now, you'll need to setup the SDK manually by going to **File > Project Structure > Project SDK > New... > Haskell SDK**.  It should find

[2015-02-02 04:35] grguthrie commented on #128
Thank you.

Yes, I had moved the project to a new location, so then I tried to just Open it there. Failing that, I did the New Project approach as described.

I did now add the GHC as SDK to the project options. Everything reports that it builds fine, but actually the .exe is old, and a new one is not being built. If I edit the Main.hs, and do a build, it reports success, but no new .exe is genera

[2015-02-02 05:10] carymrobbins commented on #128
@grguthrie: To create a run configuration, go to **Run > Edit Configurations**, click the `+` button on the top-left, choose **Haskell Application**, give it a name and click **OK** to save it.

However, it seems that the initial compiler settings aren't getting saved.  This is a bug, which I will resolve.  To get around this for now, just go into **Preferences > Build, Execution, Deployment > Com

[2015-02-02 05:12] carymrobbins opened #129 "Initial compiler settings are not saved"
The initial **Haskell Compiler** settings are not being saved in **.idea/compiler.xml** unless you explicitly change something to force a save.

[2015-02-02 05:14] carymrobbins commented on #128
Note, I've opened #129 to resolve this specific issue.  Also, you may have noticed the run configuration providing you an warning message in the bottom of the pane, stating something like **Failed executing cabal to check its version.**

[2015-02-02 05:15] carymrobbins commented on #127
What version of cabal and ghc-mod are you using?  This sounds like a conflict between cabal and ghc-mod.  See https://github.com/kazu-yamamoto/ghc-mod/issues/417 for more info.

[2015-02-02 16:08] DanielG commented on #124
@NightRa Can you still reproduce this bug? If you can could you upload a copy of the `dist/setup-config` file somewhere so I can figure out why you're getting this particular failure mode?

[2015-02-02 18:11] NightRa commented on #124
@DanielG It's an incompatability with cabal 1.22.
I downgraded to 1.21 and everything is working again.
Downgrading cabal on windows was extremely painful and took me half a day, so I'd rather not retry to upgrade to cabal 1.22 any time soon.
Is there a way to isolate the cabal update completely somehow so that it doesn't damage my previous setup?

[2015-02-02 18:15] DanielG commented on #124
In theory but I don't want to cause you more pain.

I'll come around to setting up some windows VMs for testing at some point ;)

[2015-02-02 22:50] grguthrie commented on #128
Wonderful – thanks!

-------------------------------------------
From: Cary Robbins [mailto:notifications@github.com]
Sent: Sunday, February 01, 2015 11:11 PM
To: carymrobbins/intellij-haskforce
Cc: Gregory Guthrie
Subject: Re: [intellij-haskforce] Improve SDK and run configurations (#128)

@grguthrie<https://github.com/grguthrie>: To create a run configuration, go to Run > Edit Configurations, cl

[2015-02-02 22:50] grguthrie commented on #128
Perfect - thanks a lot.

[2015-02-05 21:34] jkozlowski commented on #117
I think that simply being able to provide a command (as opposed to just a path) for tools like ghc-mod would work (maybe?). For example, with the setup described in http://wiki.ocharles.org.uk/Nix, the following works fine:

[code]

[2015-02-07 11:15] jkozlowski commented on #117
I don't know if it's just luck, but the following started working for me like a charm:
[code]

So just follow up the setup as described in the link above and then in your project start IntelliJ through nix-shell and suddenly ghc-mod spring up to life.

[2015-02-08 01:38] BeCalmedAgain commented on #127
(New User) - Apologies if this is in the wrong place but the closest I could find that might help.

Linux Mint install and installed all the haskell stuff but for the life of me ghc-modi is not installed, apt-get ghc-mod refers to Happy Haskell programming on Emacs.

I can find ghc-modi under ~/.cabal/bin/ghc-modi but nothing has been copied/link to /usr/bin

Trying to get Atom with ide-haskell wo

[2015-02-08 04:12] carymrobbins commented on #127
@BeCalmedAgain - Well, you could always try out HaskForce as an alternative. :)

Joking aside, you'd probably want to ask the question on the atom bug tracker instead.

[2015-02-13 17:07] NightRa opened #130 "Block comments aren't colored correctly"
Block comments, {- ... -} are colored in a white color, while they should have a grey color such as with -- comments.

[2015-02-13 17:09] carymrobbins commented on #130
@NightRa - do you mind providing a screenshot?  You should be able to paste it into the comment.

[2015-02-13 17:13] NightRa commented on #130
![blockcommentcolor](https://cloud.githubusercontent.com/assets/2140983/6191717/5422bbde-b3b4-11e4-8750-203ec754d28b.PNG)

[2015-02-16 14:42] NightRa opened #131 "Add an accesible button for restarting ghc-modi"
Being able to restart ghc-modi after a failure would be very valuable and time saving, instead of having to restart intllij idea many times to retry and fix issues.

[2015-02-16 14:52] KasperJanssens opened #132 "Parsing issue in haxl library (no idea why)"
When I open the Haxl library in Intellij (cloned from facebook github) it gives me an error in Types.hs, but it does compile. The parse error happens here https://github.com/facebook/Haxl/blob/master/Haxl/Core/Types.hs#L280. I suspect the forall statement in the function just before this line to have something to do with it.

[2015-02-16 19:06] carymrobbins commented on #131
@NightRa - Actually, this does exist.  It should be under **Tools > Restart ghc-modi**.  If that menu item is not appearing for you and ghc-modi is configured correctly, that's a bug.

[2015-02-16 19:08] NightRa commented on #131
@carymrobbins Each time I was searching inside Settings -> Tools. Just found out that's in the tools dropdown.
Thanks.

[2015-02-16 19:08] #131 closed

[2015-02-18 14:09] blyweert opened #133 "Another parsing failure with Haxl"
The code does compile, but when opening in Intellij it is complaining.
The problematic line is:
https://github.com/facebook/Haxl/blob/master/Haxl/Core/Monad.hs#L523

It's a different error message than what was mentioned in https://github.com/carymrobbins/intellij-haskforce/issues/132

[2015-02-18 19:52] NightRa opened #134 "Performance issue when inserting lots of '-'"
When inserting alot (even 10) of the '-' comment character (by holding the key), the plugin uses alot of CPU and hangs for a couple of seconds before showing them inserted.

[2015-02-19 12:09] THeK3nger commented on #124
I have the same problem and cabal 1.22.

This is the dist/setup-config file. https://www.dropbox.com/s/fki0pv4vjkdjwx7/setup-config_copy?dl=0

Maybe I can help before downgrading to 1.21 too. :)

[2015-02-19 12:52] NightRa opened #135 "Type info action causes illegal access exception"
[code]

[2015-02-19 21:10] levinotik commented on #125
:+1:

[2015-02-22 19:47] shockone commented on #90
It raises the following error in IDEA 14.1

[code]

[2015-02-22 19:56] carymrobbins commented on #90
@shockone - I think that issue is currently being tracked in #135.

[2015-02-22 19:57] shockone commented on #90
@carymrobbins, sorry, haven't notice that.

[2015-02-22 20:03] carymrobbins commented on #90
@shockone - No problem at all!  Thanks for letting me know that you're affected by this issue.

[2015-02-23 17:30] archaeron commented on #113
Hello

sorry, I had to reinstall my System and had no time for trying this out again.
I can confirm that it's working now for me.
Thank you

[2015-02-23 17:30] #113 closed

[2015-02-27 23:44] NobbZ opened #138 "There are no features except syntax coloring"
After I added a cabal file to the project (which was needed, to have it compile) no feature is working. No code completion, no stylish, not anything.

Before I added that cabal-file I had code completion during my quick write up of ``module Main`` for keywords, but not for functions.

Using Code-Reformatting (I guess this is the IntelliJ for applying stylish-haskell) does absolutely nothing, but t

[2015-02-28 00:15] NobbZ commented on #138
OK, Completion and linitng does work, but I have to go into settings and configure pathes for the tools everytime I restart IntelliJ or load another project. But no completion for Haskell-Keywords.

Stylish and type declarations still don't work.

[2015-03-01 02:10] carymrobbins commented on #138
@NobbZ - Have you checked out the [Quick Start Guide](https://github.com/carymrobbins/intellij-haskforce/wiki/Quick-Start-Guide)?

[2015-03-01 10:14] NobbZ commented on #138
OK, I've set up the defaults, seems to work for linitng and completion. But still I can't find a way to use stylish and insertion of type delcaration doesn't work too.

[2015-03-03 10:47] KasperJanssens commented on #133
I can't put my finger on it, but if I take a snippet from the Haxl code I see that this will fail :
[code]

but if I remove one of the do statements that aren't necessary or if I write the return statement like this (subtle difference)
[code]
it seems to work. Looking at the parser output it seems the parser thinks that when he encounters wrapFetchInTrace he's still in the do statement. However, w

[2015-03-05 23:35] carymrobbins opened #140 "Unable to parse deriving clause for GADTs"
The following does fails to parse with the error `HaskellTokenType.instance expected, got Show`

[code]

[2015-03-05 23:36] carymrobbins commented on #138
For **stylish-haskell**, go to **Code > Reformat code with Stylish Haskell**.  Next to it will be the appropriate key binding for your platform.

Are you getting underline warnings for missing type signatures?

[2015-03-06 07:14] #132 closed

[2015-03-07 18:27] carymrobbins commented on #125
Looks like ghc-mod just implemented the ability to pass in the path to the ghc executable -

https://github.com/DanielG/ghc-mod/commit/75fa3d4f2661182c5e1908a7efce11215308fa6d

Once this gets in the next ghc-mod release I'll get it wired up in HaskForce.

[2015-03-08 20:05] carymrobbins opened #141 "Creating Haskell project does not prompt for SDK"
This also means that other things can't be inferred properly, like the Haskell Compiler settings.

[2015-03-09 06:38] carymrobbins commented on #125
On second thought, I'll just go ahead and provide some hacks to the PATH variable so this should work.  It's not pretty, but does the job.  In the next release, this issue should be resolved.  Eventually I'll probably explicitly pass in the `--with-PROG` parameters, but unfortunately it seems that ghc-modi refuses to work at all when those are provided.

[2015-03-10 14:51] agrafix commented on #125
I have the same issue, looking forward to the fix :+1:

[2015-03-12 02:47] carymrobbins commented on #125
@agrafix @levinotik @fatlazycat - The latest release is out and should cover this issue.  Please let me know if you experience any other issues like this.  Thank you!

[2015-03-12 02:47] #125 closed

[2015-03-12 02:49] carymrobbins commented on #127
@grguthrie - I'm going to go ahead and close this; please reopen if you are still experiencing the issue and it is not related to the cabal conflict I referenced.

[2015-03-12 02:49] #127 closed

[2015-03-12 02:52] grguthrie commented on #127
Ok. thanks.

[2015-03-12 19:27] d3dave opened #143 "Notes on building the plugin"
1. **Ant integration**: It isn't mentioned in the readme, but for the `Build -> haskforce` menu to show up in IntelliJ, the Ant integration plugin needs to be enabled. I had it disabled, and it took me a while to figure out why these build targets weren't showing.

    a. Also not mentioned in the readme is needing to create the `build.properties` file.
    b. The `generate.sources` target isn't l

[2015-03-12 21:17] agrafix opened #144 "Enable configuring of cabal file paths in modules for ghc-mod"
The ghc-mod/ghc-modi report that certain modules can not be found. The modules are from packages that are installed in a sandbox. Where is ghc-mod run? I have multiple packages in the same Intellij Project:

    /users
       cabal.sandbox.config
       .cabal-sandbox/
       users.cabal
       src/Web/Users/Types.hs
    /users-test
       cabal.sandbox.config
       .cabal-sandbox/
       users.c

[2015-03-13 19:23] carymrobbins commented on #143
Hmmm, that's strange.  Currently I'm running 1.5.1, which seems to work for me.  The ant task should use the JFlex.jar in the repo, so there shouldn't be any conflicts there.

What OS and version of Java are you running?  This build works fine on Ubuntu and Mac OSX with Java 1.6.

You make some good points about the readme, I'll get those cleaned up.

[2015-03-13 19:28] carymrobbins commented on #144
The path logic basically goes based on the module path, which is probably not the best idea.  It should really be executing from the location of your cabal file.  Just to be sure I can reproduce this and ensure it's fixed, could you tell me where your module files are located?  You can find it by running (in UNIX) -

[code]

For reference, the logic which picks the ghc-mod(i) working directory is

[2015-03-14 05:07] d3dave commented on #143
I'm running Windows 8.1 with Java 1.8.

[2015-03-14 14:43] carymrobbins commented on #138
@NobbZ - Are you still experiencing this issue?

[2015-03-14 19:43] NobbZ commented on #138
I can't update currently due to mobile internet, I will try after the
weekend.
Am 14.03.2015 15:43 schrieb "Cary Robbins" <notifications@github.com>:

[2015-03-19 16:30] agrafix commented on #144
The .iml is located in the root directory:

    ./users.iml
    ./users
       cabal.sandbox.config
       .cabal-sandbox/
       users.cabal
       src/Web/Users/Types.hs
    ./users-test
       cabal.sandbox.config
       .cabal-sandbox/
       users.cabal
       src/Web/Users/Test.hs

[2015-03-20 02:00] carymrobbins commented on #144
Ahh, so that explains it.  Yet another reason why the current logic is broken.

One way that you can get around this is by going to **Project Structure > Modules** and adding modules for each sub-project.  So you'd want a module pointing to `./users` and another one pointing to `./users-test`.

Although, a much better way is to have the IDE do this for you, possibly via an **Import Project** featu

[2015-03-20 07:57] thorinii opened #149 "ghc-modi integration not working in free-form project"
I created a freeform project for a Haskell/Scala project I'm working on (Haskell for the Snap app, Scala for acceptance testing). I then created modules for the two subdirectories, using the New Module -> Haskell -> "here's the sources" -> etc.

ghc-modi is not running, nor does *Restart ghc-modi* show in the Tools menu (at minimum, I'm not sure about other services). This is a bit of a pain as I

[2015-03-21 06:12] carymrobbins commented on #149
Have you already configured ghc-modi in **Preferences > Other Settings > Haskell Tools**?  This might be related to #144.

[2015-03-21 06:54] thorinii commented on #149
Ah right. I thought the options were saved globally, but it appears they're just per-project? While doing a bunch of tests I found that the settings "disappeared" between creating a new project.

[2015-03-21 06:54] #149 closed

[2015-03-21 06:59] carymrobbins commented on #149
@thorinii - You can set your global settings in **File > Other Settings > Default Settings**.

This is making me think that the **New Project** dialog should walk you through setting these up.

[2015-03-21 07:02] thorinii commented on #149
Man IntelliJ is a maze if you don't know it well :-). Thanks.

Yes that's probably a good idea. I had it working the first time I installed it, but my second project (this one) obviously wasn't. I guess that's why.

[2015-03-22 17:51] carymrobbins commented on #141
This should be resolved in release v0.3-beta.20

[2015-03-22 17:52] #141 closed

[2015-03-22 17:56] carymrobbins commented on #128
@grguthrie - Heads up, there was an issue with the new project wizard in which it did not prompt for the Haskell SDK (see #141).  That is (more than likely) why you had to configure the SDK manually.  It should be resolved in the next release, v0.3-beta.20.

[2015-03-22 18:11] carymrobbins commented on #122
The local variable reference resolve implemented by @KasperJanssens in #148 has resolved this issue.  You should see it in the next release, v0.3-beta.20.

[2015-03-22 18:11] #122 closed

[2015-03-24 14:43] KasperJanssens commented on #104
Most of these should be covered now in the after merging in the module references branch. Will make new ones in case I encounter some

[2015-03-24 14:43] #104 closed

[2015-03-24 14:56] KasperJanssens commented on #135
Ow, that's my fault, it's this line in TypeInfoUtil doing it (even annotated it with a comment actually) :
Editor textEditor = fileEditorManager.getSelectedTextEditor();

Might be that this needs to be run through the invokeLater function of Application. Returning a string containing the type info will then get a bit messy most likely.

[2015-03-24 15:38] carymrobbins commented on #135
@KasperJanssens - I think `ApplicationManager.getApplication().runReadAction()` might be better in this case.  It should get the required read locks.

You might want to check out the threading notes here - https://confluence.jetbrains.com/display/IDEADEV/IntelliJ+IDEA+Architectural+Overview

[2015-03-24 21:44] KasperJanssens commented on #135
Hmm, indeed, on second thought it has nothing at all to do with the invokeLater but likely everything with runReadAction. I'll check tomorrow whether I can fix it with this function.

[2015-03-27 06:31] NobbZ commented on #138
OK, today I was able to test it (finally), and it seems to work.

But allow me one last question: Is it possible to have stylish run on save or shall I open a corresponding feature request?

[2015-03-27 06:36] carymrobbins commented on #138
I'm sure that it's possible.  Feel free to close this issue and submit a new one detailing what you are looking for.

[2015-03-27 09:37] NobbZ commented on #138
OK then we consider this one closed.

[2015-03-27 09:37] #138 closed

[2015-03-27 09:41] NobbZ opened #150 "Reformat on save using stylish"
Currently we need to apply stylish per Hand. Other editors (as emacs or vim) support applying stylish automatically on save.

I would be glad if there was an configurable option to apply stylish on save automatically.

[2015-03-27 09:47] NobbZ opened #151 "Better hlint integration"
Currently the `hlint` integration works as follows:

* Mark a linted occurence with a special background color
* Provide an Alt+Enter thingy that allows to ignore this kind of linting
* On hovering you get a little tooltip that shows `hlint`s message but unformatted which is hard to read if the lint is getting more complex

I'd suggest following:

* Mark background as before
* Provide Alt+Enter th

[2015-03-27 10:27] NobbZ opened #152 "Valid binary operator --* (and similar) are shown as line comment"
The following valid function definition is badly marked as commented:

[code]

And as you can see, `pygments` does the same mistake!

That this is indeed valid is proved by the following terminal session:

[code]

From [Haskell 2010 report](https://www.haskell.org/onlinereport/haskell2010/haskellch2.html#x7-170002.3):

Bye the way: `vim` does highlight this one correctly.

[2015-03-28 15:48] carymrobbins commented on #151
I agree with everything except -

Possibly the formatting could be improved, but I think having an annotation popup is pretty useful.

![image](https://cloud.githubusercontent.com/assets/3103764/6881668/a0d43a12-d537-11e4-8702-e2193a0b621c.png)

In fact, that's the standard way to show warnings/errors in the source.

![image](https://cloud.githubusercontent.com/assets/3103764/6881672/cf7bdbcc-d537

[2015-03-28 16:47] carymrobbins commented on #152
This should be resolved as of the next release, v0.3-beta.20.  Thanks for the report!

[2015-03-28 16:47] #152 closed

[2015-03-28 16:50] carymrobbins commented on #135
You can reproduce this issue by hovering your cursor over a resolvable name and pressing Command/Ctrl.

Thanks to @KasperJanssens this has been resolved and should be available in the next release, v0.3-beta.20.

[2015-03-28 16:50] #135 closed

[2015-03-29 15:46] NobbZ commented on #152
Is there a duedate?

[2015-03-29 16:07] carymrobbins commented on #152
@NobbZ - I'm working on a couple of other issues.  If I can't get them resolved today I'll just go ahead and release the next version.

[2015-03-30 09:43] carymrobbins commented on #152
@NobbZ - I just released the latest version.  If you can't wait for the IntelliJ plugin repo to update (which may take a day or so due to moderation) you can grab the latest release from here -

https://github.com/carymrobbins/intellij-haskforce/releases

[2015-03-30 09:44] NobbZ commented on #152
It is easy to wait, this just breaks some colors, not the project ;) Also
I'm on mobile again and have to wait another 2 days until I am wired
again...

2015-03-30 11:43 GMT+02:00 Cary Robbins <notifications@github.com>:

[2015-03-31 10:00] fatho opened #154 "KindSignatures not parsed"
[code]

fails with `'Foo' unexpected`.

[2015-03-31 10:03] fatho opened #155 "PatternSynonyms in module export list not parsed"
[code]

fails with `Parse error 'Foo'` and `')' unexpected`.

[2015-04-11 04:29] carymrobbins commented on #143
@d3dave - Sorry for the extreme delay, but I've updated the build documentation on the README.  Part of the issue may be building with JDK 8, so you might want to try JDK 6.  Once IntelliJ adopts Java 8 as it's default runtime I'll start building the plugin with JDK 8.

Feel free to let me know if you'd like the documentation better clarified.  You are also more than welcome to submit a pull reque

[2015-04-15 18:10] carymrobbins opened #156 "Type info action should only apply to Haskell files"
When writing in other language files (e.g. Scala), if we attempt to type `Alt =` to pull up type info the Haskell type info attempts to run and overrides the Scala type info.  HaskForce's type info action should only apply to Haskell files.

[2015-04-15 18:10] #156 closed

[2015-04-15 18:11] carymrobbins commented on #156
This should be available in the next version - **0.3-beta.21**

[2015-04-25 18:40] vasily-kirichenko opened #161 "References of a symbol are wrongly highlighted"
In both the following cases the highlighting is wrong:

1.
![image](https://cloud.githubusercontent.com/assets/873919/7334152/8d7b13ba-eb93-11e4-8192-75731d57085d.png)

2.
![image](https://cloud.githubusercontent.com/assets/873919/7334150/7a503d56-eb93-11e4-9854-b6f77ebfded9.png)

[2015-04-30 15:58] fatlazycat opened #162 "Interaction with the repl"
Hi, is there any current or plans to add interaction with the cabal repl ?

Such as load file, switch back and forth between editor / repl, execute highlighted form etc ?

Thanks

[2015-04-30 16:14] carymrobbins commented on #162
Not currently, but I'm certainly open to the idea.  One thing you can do is use IntelliJ's built-in terminal and open a cabal repl there.  I know this isn't anywhere near the same, but it's something.

Feel free to expand on how exactly you'd like this to work.  I'd be interested in seeing what others think about this as well.

[2015-04-30 16:15] carymrobbins commented on #161
I'll definitely look into this.  @KasperJanssens - you might also have some insight.

[2015-05-04 19:41] fatlazycat commented on #162
Thinking about it, may get away with a shortcut just to load / reload the module in the repl that you are currently editing.

[2015-05-10 20:36] fatho opened #163 "{-# MINIMAL ... #-} pragma for type classes not recognized when put in the beginning"
[code]
yields `'MINIMAL' unexpected`

but

[code]

works as expected.

GHC accepts both variants.

[2015-06-10 08:23] bgamari opened #164 "IndexOutOfBounds exception while indexing"
This [log](https://gist.github.com/bgamari/bec0b24087b935b7ab46) shows an `IndexOutOfBounds` exception thrown by Idea apparently while HaskForce was indexing.

I'm afraid I'm relying on old notes from a friend for the details of the issue. I can ask for more detail if necessary.

[2015-06-10 14:19] carymrobbins commented on #164
@bgamari - Would you be able to provide a gist of the `Setup.hs` file referenced in that thread dump?  Also, does this seem to impact usability of the IDE?

**Technical Note**

This _might_ be related to #76.

Note that the only frames that reference `com.haskforce` are -

[code]

Although, this looks like it is probably from a separate thread and not related to indexing.

[2015-06-10 16:31] bgamari commented on #164
If I'm not mistaken there was nothing special about the `Setup.hs` file but let me get back to you on that

If I recall correctly we noticed this error as the "Quick Documentation" feature did nothing when invoked. I'll try to reproduce again.

[2015-06-10 16:34] carymrobbins commented on #164
Interesting, particularly since I noticed the Type Info / Documentation Provider frames in the thread dump.

[2015-06-17 04:37] 0culus opened #165 "ghc-modi problem on OS X"
Hi,

This is similar (I think) to issue #118 . I'm getting a slightly different error, however. As in that issue, however, the option to restart ghc-modi is missing from the tools menu. It is worth noting that this all works perfectly fine in Windows (where I have identical versions of everything installed.) I installed the haskell platform through MacPorts.

[code]

Versions of all my stuff:

![s

[2015-06-23 19:16] carymrobbins commented on #116
This should be resolved in the latest builds of IntelliJ.

[2015-06-23 19:16] #116 closed

[2015-06-25 13:05] ciez opened #166 "Could not find a component assignment, falling back to guessed GHC options."
when working on a new module, not yet referenced anywhere in the project, error pops up:

(!) ghc-modi error
Unable to parse problems from ghc-modi: Warning: Could not find a component assignment, falling back to guessed GHC options

Configure

[2015-06-26 06:31] jgoux opened #167 "Possibility to use stack instead of cabal"
Hi,
would it be possible to optionally use stack instead of cabal for the build process ?

[2015-06-26 13:14] ciez opened #168 "Haskell live template context"
missing Haskell live template context.

can use "other" context instead but this leads to Haskell-specific shortcuts expanded in other language code files.

[2015-06-27 08:51] carymrobbins commented on #167
I don't see why not.  I haven't used stack yet, but it does seem to have some pretty desirable features, such as handling your GHC install.

[2015-06-27 08:56] carymrobbins commented on #166
It sounds like ghc-mod is trying to figure out which cabal component to use since it can't find that module in your cabal file.  Maybe in this case we could just issue a warning that the file is not in your cabal file and thus won't get error annotations.

[2015-06-27 09:02] carymrobbins commented on #165
@0culus - Where do you see this error, and what are you doing when it occurs?

[2015-06-27 09:09] ciez commented on #166
something I should have mentioned: I upgraded cabal to  1.22.2.0 and ghc to 7.10.1 this broke ghc-mod & ghc-modi so I installed those some time ago from source in main git branch.

yes, please "hide" error annotations in this case. quite a number of those errors pop up while working on a file in progress. clicking on the file makes them go away but still. ghc would catch this issue anyway ;)

Hask

[2015-06-27 19:41] carymrobbins commented on #97
HaskForce can now be written in Scala.  However, the majority of the plugin is still written in Java.  As we refactor things we can start converting modules to Scala.  IntelliJ does provide a **Convert to Scala** (Ctrl+G) refactoring option, but it is far from perfect.  Simple modifications to existing Java code should probably just stick to Java.

I experimented with the idea before moving forwar

[2015-06-27 19:41] #97 closed

[2015-06-27 19:46] carymrobbins opened #169 "Implement a proper Cabal parser"
Now that HaskForce can be written in Scala, we could attempt to implement a proper Cabal parser without Grammar-Kit.

As discussed in PR #157, we could attempt to port the [Cabal parser](https://github.com/ghc/packages-Cabal/blob/1.22/Cabal/Distribution/PackageDescription/Parse.hs#L675) directly to Scala.  There is still a question about how the lexer and parser will work with this new model.  Loo

[2015-06-27 19:51] carymrobbins opened #170 "Improve the build"
Right now, we use Ant with a `lib/` dir full of jars.  This is far from ideal.

1. We should probably try to integrate Ivy into the equation to properly manage dependencies.  This also provides the benefit of being able to easily integrate other libraries simply by adding a dependency.

2. Ant is verbose and hard to work with.  Gradle seems like a nice alternative.  SBT, in my experimenting, seems

[2015-06-27 22:17] carymrobbins commented on #28
The latest master provides `cabal init` support via the New Project wizard and Add Cabal Package action.  You can also import existing cabal packages using the Discover Cabal Packages action.

[2015-06-27 22:21] carymrobbins commented on #144
This will be resolved in version **v0.3-beta.21**.  You can use **Tools > Discover Cabal Packages** to import packages into your project.  Sorry for the delay on this, please reopen if you continue to experience this issue.

[2015-06-27 22:21] #144 closed

[2015-06-27 22:25] carymrobbins opened #171 "Do notation doesn't handle let .. in properly"
The following yields a parse error on the `<-` token.

[code]

[2015-06-27 23:25] carymrobbins opened #172 "Support qualified functions in ViewPatterns"
It seems that ViewPatterns produce a parse error at the `n` token in the following due to the qualified function `T.length` -

[code]

[2015-06-27 23:31] carymrobbins commented on #129
This will be handled properly by the New Project Wizard as of **v0.3-beta.21**

[2015-06-27 23:31] #129 closed

[2015-06-27 23:32] carymrobbins commented on #128
You are now prompted to configure your SDK and Haskell tools via the New Project wizard, so this should be resolved in **v0.3-beta.21**.

[2015-06-27 23:32] #128 closed

[2015-06-27 23:34] carymrobbins commented on #61
ghc-mod should now support this, please reopen if this issue persists.

[2015-06-27 23:34] #61 closed

[2015-06-27 23:35] carymrobbins commented on #54
With the New Project wizard prompting for the correct compiler and tool paths (as of **v0.3-beta.21**) this should be mostly a non-issue.

[2015-06-27 23:35] #54 closed

[2015-06-28 23:18] carymrobbins commented on #121
This will be resolved in version **v0.3-beta.21**

[2015-06-28 23:18] #121 closed

[2015-07-01 08:17] ciez commented on #104
renaming a function does not change the function name in the exported function list e.g.

module A (funB) where -- original name stays

funB_renamed

[2015-07-04 05:38] 0culus commented on #165
@carymrobbins sorry, the notification of your comment got murdered by email spam filters. However, I since have removed the macports Haskell Platform and switched to the "official" jetbrains Haskell plugin and a standard installation of Haskell Platform.

Basically, this would occur whenever ghc-modi tried to be called for anything at all, particularly on startup and loading a project.

If you lik

[2015-07-04 19:25] carymrobbins commented on #165
@0culus - Seems like something strange going on with your configuration.  I see that you didn't have the path to your ghc set, so your SDK is probably not configured properly.

What is the path to your installed ghc?  Usually your SDK path should be directory above ghc's bin directory.

[2015-07-05 18:47] 0culus commented on #165
@carymrobbins this is why I abandoned installing Haskell Platform via MacPorts. I tried various paths that should have been correct and they did not work. I'll reinstall it and try to replicate later.

[2015-07-07 20:01] carymrobbins opened #173 "Support exporting qualified operators"
The following causes a parse failure -

[code]

[2015-07-09 15:16] PetrGlad commented on #164
I am not sure if this a separate issue but I see many of these exceptions (Intellij Ultimate 14.1.4):
[code]

[2015-07-09 16:40] carymrobbins commented on #164
@PetrGlad - Hmm, it's strange, because it seems that `cursive` is in the stack trace.  It's as though Cursive is trying to highlight usages in a Haskell file.  This seems like a separate issue, but I'll have to dig in more to confirm.

[2015-07-10 05:09] PetrGlad commented on #164
I did not notice this. I'll ping Cursive's author also.

[2015-07-10 05:15] carymrobbins commented on #164
I actually spoke with him already.  Either way, HaskForce should probably handle this better.

[2015-07-10 14:31] carymrobbins opened #174 "Comment / guard parse error"
The `|` reports a parse error only if the comment is indented at its same level.

[code]

[2015-07-17 22:39] ciez opened #175 "{-# LANGUAGE InstanceSigs #-} shows red line error"
with  InstanceSigs enabled, adding a signature to e.g. fmap shows an error.

GHC builds

[2015-07-17 22:43] carymrobbins commented on #175
Test case below -

[code]

[2015-07-19 13:04] ciez opened #178 "uncompleted let hangs - indents"
when entering a function in let notation (pure function without do), before "in" clause is entered, the editor hangs with these symptoms:

inspection icon is a grayed-out eye (stuck in a loop?)

cursor blinks

it is not possible to enter text below the "let" block. tab key does not work. ctrl / (uncomment shortcut) does not work

enter key does not work

backspace key does not work when cursor is

[2015-07-19 13:04] ciez commented on #178
tabs are turned off - already checked

[2015-07-23 05:37] carymrobbins commented on #178
Unfortunately, I haven't been able to reproduce this.  Could you paste an example of the file content and cursor position when this happens?  Smells like a parser bug to me.

[2015-07-23 07:20] ciez commented on #178
Will do so. It happens irregularly.

[2015-07-24 11:10] #178 closed

[2015-07-27 19:21] carymrobbins commented on #173
This should be resolved in **v0.3-beta.22**

[2015-07-27 19:21] #173 closed

[2015-07-27 21:59] carymrobbins commented on #175
This should be resolved in **v0.3-beta.22**.

[2015-07-27 21:59] #175 closed

[2015-07-27 22:00] carymrobbins commented on #172
This should be resolved in **v0.3-beta.22**.

[2015-07-27 22:00] #172 closed

[2015-07-27 22:00] carymrobbins commented on #163
This should be resolved in **v0.3-beta.22**.

[2015-07-27 22:00] #163 closed

[2015-07-28 23:04] teozkr commented on #31
Suddenly came across this issue again. No repro, but restarting IntelliJ seems to have fixed it. IntelliJ IDEA Ultimate 14.1.4, HaskForce 0.3-beta.21.

[2015-08-02 10:49] 2chilled commented on #167
+1 for introducing stack support!

[2015-08-08 07:05] carymrobbins commented on #170
Bullet 1 from above (adding Ivy for dependency management) ended up being easier to implement than I anticipated, which is a nice surprise.  I'll go ahead and close this for now since Ant, albeit clunky, works and is relatively simple, especially now that we have Ivy.

[2015-08-08 07:05] #170 closed

[2015-08-16 16:36] xkrt opened #182 "Support ghc-mod 5.4.0.0"
Error occurs on new Haskell project:
[code]

version: ghc-modi version 5.3.0.0 compiled by GHC 7.10.2

[2015-08-17 00:10] carymrobbins commented on #182
Thanks for this, the ghc-mod stuff needs to be cleaned up anyway.  Aside from the error popup, does it still provide the error checking in the file?

[2015-08-17 05:29] xkrt commented on #182
Not sure, because I can't add 'Haskell SDK' since I use `stack`, which enables experiments with Haskell on Windows for newbies like me :)

+1 for #167

[2015-08-23 10:00] dramforever opened #183 "Cannot create SDK"
I installed ghc 7.10.2 to `~/.ghc-bin`, but when I choose this directory it tells me "The selected directory is not a valid home for Haskell SDK"

[2015-08-25 15:07] wolftune commented on #167
Looking at other tickets, it seems compatibility between ghc-mod and Stack is the prereq to plugins like this working with Stack.

[2015-08-25 17:02] carymrobbins commented on #167
Oh, that's a really good point @wolftune.  Depending so much on ghc-mod is probably not the best idea anyway, and I've been wanting to provide alternatives that would work a bit more "natively".

[2015-08-25 17:09] carymrobbins commented on #183
Wow, this is an incredibly silly bug.  We just need to fix the egregious `.endsWith("bin")` checks [here](https://github.com/carymrobbins/intellij-haskforce/blob/master/src/com/haskforce/HaskellSdkType.java#L76-76) and [here](https://github.com/carymrobbins/intellij-haskforce/blob/master/src/com/haskforce/HaskellSdkType.java#L169).  I'll get that fixed ASAP.

[2015-08-25 17:13] wolftune commented on #167
@carymrobbins I have no idea about the issues in depending on ghc-mod, FWIW, I was looking at the ide-haskell package for Atom and noticed the same issue: it relies on ghc-mod, and ghc-mod is not yet compatible with Stack. I saw tickets in places where people were discussing this, so I have reason to suspect that ghc-mod / Stack compatibility will get worked out soon.

[2015-08-25 17:17] carymrobbins commented on #167
Yep, it looks like there is active discussion about it in the ghc-mod issue here - https://github.com/kazu-yamamoto/ghc-mod/issues/498

Also, it's worth mentioning that folks are having trouble creating a Haskell project since the Haskell SDK requires Cabal.  Ideally, you shouldn't need Cabal to create the project, certain features should just not be available.  That also paves the way to choose y

[2015-08-25 17:19] wolftune commented on #167
@carymrobbins Stack itself relies directly on Cabal. The thing Stack replaces is *cabal-install* (which is a separate thing from Cabal the library).

[2015-08-25 17:34] carymrobbins commented on #167
Yeah, I should be a bit more explicit.  By Cabal I was referring to cabal-install, the `cabal` command line utility.  Either way, just because you are not using a particular tool, you should still be able to use HaskForce, sans the corresponding features.

[2015-08-25 17:56] carymrobbins commented on #183
@dramforever - In the meantime, you can try renaming that directory to something that doesn't end in `bin` and see if it works.  That would confirm my theory.  If it still doesn't work, maybe paste the contents of the directory (e.g. `ls -A ~/.ghc-bin`) and we can go from there.

[2015-08-26 12:07] dramforever commented on #183
Ok thanks a lot for that.

(btw relevant xkcd http://xkcd.com/1172/ )

[2015-08-27 19:50] orome opened #184 "Can't create project"
I get as far as the final step of project creation and the process hangs (attempting to click the finish) button has no effect.

If I go back and don't create a cabal file, I can then proceed, but end up with a project I can't build.

[2015-08-27 21:54] carymrobbins commented on #184
What OS are you using?  What is the cabal path set to?  If you create a project without a Cabal file, try to go to **Tools > Add Cabal Package** and try to create it that way, except use `.` for the **Root Directory**.  See if that works for you.

Either way, some sort of error should be reported to you for this.  Could you provide some screen shots of what info is filled out in the **New Project*

[2015-08-29 11:07] orome commented on #184
I choose New Project, Next, Next, Next, Next, Finish; and nothing happens. If I go back and uncheck Cabal generation, I can proceed, but then I can't build anything. If I go back and generate manually as suggested I get

    Add Cabal Package
    cabal:
    '/Library/Frameworks/GHC.framework/Versions/7.10.2-x86_64/usr/lib/ghc-7.10.2/bin/ghc'
    exited with an error:
    ghc: missing -B option (sh

[2015-08-29 11:12] laura-dietz opened #185 "Quick Definition of type in instance head is sometimes not helpful"
Consider this screenshot from the workspace of a relatively new Haskell user,

![haskforce 2_1](https://cloud.githubusercontent.com/assets/833076/9561651/168a2b28-4e4f-11e5-98d8-cd7592b2bff2.jpg)

While they added a Haddock comment to the `SuffixTree` type, this was not reflected in the Quick Definition output when requested. This is because Haskforce interpreted the user's intent as asking about

[2015-08-29 11:32] laura-dietz opened #186 ""Type info not found" error is far too vague"
I've tried to introduce a user to Haskell with Haskforce on a number of occasions. Unfortunately almost every time I end up getting side-tracked trying to figure out why type information doesn't work. The "type info not found" error message really should provide more guidance to the user about what might be wrong.

I'll try to add details about what is going wrong in my particular case once I figu

[2015-08-29 17:21] laura-dietz opened #187 "Haddock integration for "External Documentation""
For Java, Idea shows external java-API documentation for a selected symbol in an external web browser [1]  (default keybinding Shift-F1).

It would be great to integrate this for Haskell to show local Haddock documentation or integrate with Hoogle.

The `ghc-mod doc` will tell you where the HTML documentation for a given module will be found.

[1] https://www.jetbrains.com/idea/help/viewing-extern

[2015-08-29 17:34] laura-dietz opened #188 ""Find usages" and "refactor rename" does not work for type constructors"
Both "find usages" (Alt-F7) and "refactor rename" (Shift-F6) work perfectly on term-level bindings. However they do not work on type constructors.

Also: to be less confusing it would be great if type constructors and corresponding data constructors would be renamed consistently. If you don't want to make this the default behavior, it would be helpful to suggest renaming of one upon renaming of th

[2015-08-29 17:49] laura-dietz opened #189 "Quick-documentation"
Currently, Quick documentation (Ctrl-Q) only shows the type signature, but not any Haddock documentation. Especially for source in the current project, for which no recent Haddock documentation is yet compiled if would be tremendously helpful to display such Haddock comments  (even unrendered, i.e. without hyperlinks to other symbols)

Idea's PSI should maintain a list of documentation (at least f

[2015-09-03 21:38] carymrobbins commented on #187
While marked as an enhancement, I think this should go in quickly, in conjunction with #185.

[2015-09-03 21:40] carymrobbins commented on #188
A lot of this is due to the parser not being robust enough.  Once we get a better parser in there this will become fairly trivial.

[2015-09-03 21:44] carymrobbins commented on #189
I feel like #185 and #187 are heavily related.  These might even be able to be merged into one issue.

[2015-09-04 08:24] laura-dietz commented on #189
I just want to clarify: #187 is respect to documentation that is compiled by Haddock and already sitting around as HTML.

With this issue ( #189 ) I was referring to documentation in the current code project, possibly even in source the user is writing "right now". This code might not even have been compiled, it might even contain syntax errors.

I agree that it is related to  #185, in the sense t

[2015-09-08 06:20] haggholm opened #190 "Can't edit file; IndexOutOfBoundsException"
I can’t edit one file in my project at all—I can reposition the cursor, but not delete, backspace, enter new text, copy, cut…

Log: https://gist.github.com/haggholm/e9644a8a042b8c9c72be

The file is tiny, I had just started a project to learn (don’t really know Haskell). Probably not relevant, but just in case: https://gist.github.com/haggholm/2691c424d8ad792f63aa

[2015-09-08 06:58] carymrobbins commented on #190
It seems that the parser isn't dealing with the missing `in` clause after the `let` binding.  Although, for it to affect the editor is terrible.  I've noticed issues like this before, and it seems like the parser shouldn't cause something like this.  It's either a bug in the parser that Grammar Kit generates, or possibly a bug in the `HaskellParserWrapper`.

In any case, you can probably get aroun

[2015-09-08 08:01] mrkafk opened #191 "Unable to parse problems from ghc-modi: cabal-helper-wrapper.exe: ghc: readCreateProcess: does not exist (No such file or directory)"
I'm trying to configure HaskForce plugin into IntelliJ IDEA (Community Edition 14), latest HaskForce plugin.

I configured "ghc-mod" (mod, not modi) with "legacy-interactive" in "GHC Modi" `Flags`. The root problem seems to be related to cabal version, although when I try autocompleting on any Haskell symbol, I get this:

	ghc-modi error
			   Unable to parse problems from ghc-modi: cabal-helper-w

[2015-09-08 16:02] haggholm commented on #190
The major problem is of course that I can’t edit the file due to the exception, so I’ll have to use another editor to fix any such mistakes as they happen—and since I’m just learning Haskell, and its syntax is rather opaque to a beginner, I expect to have a lot of syntax errors initially…

Ah well, I’ll live with another editor for now and look forward to the next release. Is there an ETA/roadmap?

[2015-09-08 16:36] carymrobbins commented on #190
This shouldn't happen regularly.  Most syntax errors simply come up with proper error highlighting like you'd expect.  There just happens to be a bug somewhere in the parser that causes some weird issues in this specific case.  I was able to add text to the end of the file just fine, so I assumed it would work for you as well, but apparently that's not the case.

Long story short, you should still

[2015-09-09 05:14] carymrobbins commented on #190
Better yet, let's do a release now.  I can work around this issue for now by parsing incomplete `let` expressions, so that should handle this specific issue.  The fix will be available in **v0.3-beta.22**, which I am releasing here shortly.

[2015-09-09 05:16] #190 closed

[2015-09-11 10:36] NightRa opened #192 "Jump to Source"
A feature I really miss in Haskell IDEs is jumping to the source of functions outside the project.
This can be acheived via the ```codex``` package.

[2015-09-11 11:44] MasterMastic commented on #182
I have the same problem, and no @carymrobbins, it does not provide any error-checking.

[2015-09-12 13:15] orome commented on #184
Any news on this? Are there other Haskell plugins that are recommended and active that I might use instead?

[2015-09-12 13:38] carymrobbins commented on #184
Sorry for the delay, I haven't been able to reproduce yet.

One thing you might want to try is `cd`ing into your project directory and running `cabal init` (which is what is used under the hood).  This may give some clues as to what's happening.

[2015-09-12 13:43] orome commented on #184
Should I run that after the plugin fails there, or just in a new directory where I plan to put the project?

[2015-09-12 13:46] carymrobbins commented on #184
I would try it in the directory for the project where it already failed.

[2015-09-12 14:36] orome commented on #184
If I do that, `cabal init` works, as does `cabal build` (generating an executable I can run in `./dist/build/ProjName`. (FIIW, I'm new to both Haskell and esp. Cabal, so it's not clear to me what Cabal is doing.)

[2015-09-12 15:10] carymrobbins commented on #184
Ok, good to know.  I'm guessing if you do `which cabal` and `which ghc` you get the same paths as listed above?

I'll work on this and try to get the fix out ASAP.  Also, I released an update a few days ago, so you may want to upgrade HaskForce to ensure the bug remains in the new version.

[2015-09-12 15:22] orome commented on #184
Ah, no: `which -a ghc` gives `/usr/bin/ghc` (which points at ` /Library/Haskell/ghc-7.10.2-x86_64/bin/cabal`). If I enter `/usr/bin/ghc`, things do seem to work (at least something is generated, though I get warnings about a missing license file and am not sure how the create a suitable run config).

[2015-09-13 02:36] carymrobbins commented on #192
Agreed.  There is a way to get it to work now, though.  You can do this by using `cabal get`.  I usually create a `lib` dir and just put the sources there.  However, true codex (or similar) integration and support would be really nice.

[2015-09-13 02:43] carymrobbins commented on #184
It sounds like you are running into a buffering issue.  Here's one way you can fix the problem -

[code]

[2015-09-13 12:14] orome commented on #184
Cool. That does the trick. Why do I need that in the IDE and not at the command line?

[2015-09-13 12:20] orome commented on #184
(Will this work in *PyCharm*, btw?)

[2015-09-14 03:42] carymrobbins commented on #184
I'm not exactly sure why that buffering issue occurs.  It might have something to do with OSProcessHandle, used in [HaskellApplicationCommandLineState](https://github.com/carymrobbins/intellij-haskforce/blob/master/src/com/haskforce/run/HaskellApplicationCommandLineState.java).

Regarding PyCharm integration, there's an open ticket for it (#65).  It's a bigger change, but I am in the middle of imp

[2015-09-16 12:07] orome opened #193 "Can't get GHC-MOD working"
When I install GHC-MOD and add it's pat to the lost of Haskell tools, I get:
[code]
and when I add a path for GHC-MODi, I get
[code]

How should I configure these tools? (And should I do something different for an existing project that was created before they were installed?)

[2015-09-16 12:24] orome opened #194 "How to configure Haskell inspections"
In the Inspections configuration dialog I don't see any entry for Haskell. For example, when I get things like redundant `$` or `why not` inspections, these are displayed as (too) prominent warnings, and I'd like to tone them down. But I can't locate them in the inspections settings list.

What entires in the inspections settings do these and other Haskell inspections correspond to?

[2015-09-16 12:32] orome commented on #182
What sorts of error checking (or other behavior) should I see if ghc-mod (and ghc-modi) is working?

In the meantime, should we enter `gcc-mod` for the ghc-modi tool path, with `legacy-interactive` as options? Or should we enter nothing for gcc-modi, and put those options with the ghc-mod tool?

[2015-09-16 12:42] orome commented on #184
To clarify, the bug here turns out not to be that I can't create a project (I can if I have the GHC path that `which ghc` reports) but that no matter what I do, the proposed path lists

    /Library/Frameworks/GHC.framework/Versions/7.10.2-x86_64/usr/lib/ghc-7.10.2/bin/ghc

as the path, which cause the blocking described above.

If I manually enter `/usr/bin/ghc`then everything works.

Note that `

[2015-09-16 13:55] dhobbs opened #195 "ghc-mod running in wrong directory"
I'm using the IDEA 15 EAP with ghc-mod 5.4.0.0 and GHC 7.10.2

ghc-mod fails with the following error.

[code]

It might be possible to fix this from intellij itself but so far I haven't been able to find where it's selecting the .idea dir.

[2015-09-16 15:24] orome commented on #184
And, FWIW, heres what's in that directory:
[code]

[2015-09-16 21:49] carymrobbins commented on #182
@orome - That doesn't seem to work yet, see #191.  In the meantime, you can try to use an earlier version of ghc-mod(i), particularly 5.2.1.2 should work just fine.

[2015-09-16 22:17] carymrobbins commented on #195
Support for ghc-mod needs to be updated to support the latest versions.  See #182.  In this case, the module file must be located in the .idea dir for some reason.  Possibly the project was not created as a Haskell project?  When creating a project, the module file (.iml) should be created and placed in the same directory as the .cabal file.  Although, maybe IDEA 15 puts module files in the .idea

[2015-09-16 22:22] carymrobbins commented on #184
Is `/Library/Frameworks/GHC.framework/Versions/7.10.2-x86_64/usr/lib/ghc-7.10.2/bin/ghc` a valid path to GHC?

[2015-09-17 15:53] orome commented on #184
Yes.

[2015-09-17 16:07] carymrobbins commented on #184
Ok, so HaskForce is finding it in your PATH and suggesting it by default.  You can change the default just like you would for the [external tools](https://github.com/carymrobbins/intellij-haskforce/wiki/Quick-Start-Guide#configuring-external-tools) by going to -

**File > Other Settings > Default Settings > Build > Compiler > Haskell Compiler**

Just set the GHC you want it to use by default and m

[2015-09-17 17:35] orome opened #196 "Error with initial '\' in String"
With

    decorate ch = ch:"\818\773"

or even just

    "\818\773"

I get an inspection error in the IDE

    HaskellTokenType." or HaskellTokenType.STRINGTOKEN expected, got '\'

but no build error, and no errors or warnings in GHCi or IHaskell.

Any idea what this is or how to get rid of it? I don't understand what it is saying.

[2015-09-17 17:36] orome commented on #194
To clarify: how do I change how Haskell inspections appear (color, level), since they don't seem to be listed (or at least not identified as such) among the inspections settings.

[2015-09-17 17:39] carymrobbins commented on #196
That's a bug in HaskForce's internal Haskell parser.  It should be a pretty simple fix, I'll include it in the next release.

[2015-09-17 17:39] orome commented on #196
Thx. Fortunately not blocking (everything still builds).

[2015-09-17 17:43] carymrobbins commented on #194
That feedback comes directly from HLint, so you can configure it with hint files.  See the [HLint Manual](http://community.haskell.org/~ndm/darcs/hlint/hlint.htm#customization).

It might be nice to also have this configurable from the IDE, so I'll mark this as an enhancement.

[2015-09-17 17:46] carymrobbins commented on #193
Duplicated by #182.  Long story short, until ghc-mod 5.4 support is added, you should use ghc-mod 5.2.1.2.

[2015-09-17 17:46] #193 closed

[2015-09-17 17:47] carymrobbins commented on #191
Duplicated by #182.  Until ghc-mod 5.4 support is added, you can work around this by using ghc-mod 5.2.1.2.

[2015-09-17 17:47] #191 closed

[2015-09-17 17:51] orome commented on #194
Yeah, I guess the issue (for me) is that I still want a warning, but I want a *weak* warning. Hint just provides Error and Warning (and off altogether).

So in this context (given HLint constraints) what would be good is to be able to choose the correspondence between HLint "Error" and "Warning" and the levels in the IDE. E.g., for me anyway, and HLint "Error" should be an IDE "Warning" and an HLi

[2015-09-17 17:56] orome commented on #193
Installing 5.2.1.2 gives:
[code]

[2015-09-17 18:22] carymrobbins commented on #194
Oh I see.  That could probably be done rather easily.  The [HLint.Problem.createAnnotation](https://github.com/carymrobbins/intellij-haskforce/blob/master/src/com/haskforce/highlighting/annotation/external/HLint.java#L203) method should check the `severity` and issue the appropriate warning.

[2015-09-17 18:25] carymrobbins commented on #193
Oh yeah, ghc-mod 5.4 fixes its issues with GHC 7.10.  So in order to use GHC 7.10 and ghc-mod together we just need to get support for ghc-mod 5.4.

[2015-09-17 18:51] orome commented on #193
So with 7.10.2 what ghc-mod should I install?

[2015-09-17 19:15] carymrobbins commented on #193
As of right now, you probably can't get GHC 7.10, ghc-mod, and HaskForce to work together nicely until ghc-mod 5.4 support is implemented.

[2015-09-17 19:22] orome commented on #193
K. So uninstall (or don't link) ghc-mod until then?

[2015-09-17 20:03] carymrobbins commented on #193
Yep, you can go to the Haskell Tools and just remove the paths to ghc-mod(i).  I'll try to get support in soon so we can use the latest and greatest from GHC and ghc-mod.

[2015-09-18 14:49] orome opened #197 "No spelling inspections"
I don't get any spelling inspections, even when I have this enabled in the IDE settings. In fact, I see no way to spellcheck at all!

[2015-09-18 16:28] carymrobbins commented on #197
Seems that HaskForce needs to explicitly provide spellcheck support.  Looks pretty trivial, I should be able to have it available in the next release.

[2015-09-19 12:45] orome commented on #197
Cool. Thx.

[2015-09-19 16:12] orome opened #198 "Double-click on Haddock '-- |' comment selects whole line"
Double-clicking on a Haddock comment beginning with '-- |' selects the whole line, rather than the word under the cursor. Selecting a word in such a comment can only be done manually.

[2015-09-19 16:17] orome opened #199 "Splitting comments inserts redundant '--'"
For example, if I have

    -- A comment

and put the cursor in front of `comment` and hit return, instead of getting

    -- A
    -- comment

I get

    -- A
    -- -- comment

so that every time I split a comment I have to delete the redundant `-- `.

[2015-09-19 20:32] carymrobbins commented on #197
Ok, this should be available in the next release, **v0.3-beta.23**.

[2015-09-19 20:32] #197 closed

[2015-09-23 16:56] psfblair opened #200 "Cabal install dependencies fails on OS X"
Using the self-contained Haskell for Mac OS X, trying to build my project (with "install cabal dependencies" set):

Information:cabal: Install dependencies
Information:cabal: '/Applications/Developer/ghc-7.10.2.app/Contents/lib/ghc-7.10.2/bin/ghc'
Information:cabal: ghc: missing -B<dir> option
Information:9/23/15, 12:49 PM - Compilation completed with 1 error and 0 warnings in 979ms
Error:cabal: i

[2015-09-23 17:02] psfblair opened #201 "Build fails with "cabal configure failed" on OSX"
Using the relocatable Haskell for OSX, building without installing cabal dependencies, I get the following (whether or not I have "Build With Cabal" checked):

Information:cabal: Start configure
Information:9/23/15, 12:59 PM - Compilation completed with 1 error and 0 warnings in 2s 829ms
Error:cabal: configure failed.

I can't get any more information even if I add the "-v" flag to cabal. My ghc i

[2015-09-23 17:56] carymrobbins commented on #200
That `ghc: missing -B` option usually suggests that you're pointing to an invalid ghc.

First, what paths do you have set in the Haskell Compiler settings?  If you'd like to debug this and you are on IRC, feel free to jump in the #haskforce channel on freenode and ping me.

[2015-09-23 17:57] carymrobbins commented on #200
(This seems related to #184)

[2015-09-23 17:58] carymrobbins commented on #201
This may be related to your other issue, #200.

[2015-09-23 18:24] psfblair commented on #200
Outcome of the discussion on IRC:

This issue is caused by not pointing to the right ``ghc``. The relocatable Haskell on OS X hard-links the ``ghc`` executable from ``ghc-7.10.2.app/Contents/bin/ghc`` to ``ghc-7.10.2.app/Contents/lib/ghc-7.10.2/bin`` -- but in the latter directory there is no ``cabal``. In the Haskell Compiler settings, the ``ghc`` executable path should be ``ghc-7.10.2.app/Conten

[2015-09-23 18:24] #200 closed

[2015-09-23 18:26] psfblair commented on #201
Yes. Solved by the solution to #200.

[2015-09-23 18:26] #201 closed

[2015-09-25 10:45] juliaMarin commented on #184
Hi, I have the same problem but in Ubuntu 14.04. I thought to add it here because is the same problem but different OS. Just download haskforce today so it should have the latest code.

[2015-09-25 11:02] juliaMarin commented on #184
I'm sorry, I've installed haskell-platform:
sudo apt-get install haskell-platform
Which has the cabal version 1.16.0.2

Just updating to the right one =< 1.18 fixed.

Thanks and sorry.

[2015-09-26 14:00] psfblair commented on #31
I've just seen this issue this morning with a project that was building fine last night. The only thing that's different besides code changes are that I added a symlink in the project directory pointing somewhere outside the project. Closing and reopening the project then caused the error to go away.

[2015-10-02 19:31] orome opened #202 "What does "enable tests" do"
What does "Make Project" do? Specifically what commands is it executing, with what flags and arguments?

It seems to be unnecessary in most cases. For example, if I `cabal test`, any changes to my source get recompiled anyway.

Also, in that context, what does the compiler's "enable tests" option do? I have a test that fails with exit code 1, and have this option enabled, but I get no feedback tha

[2015-10-02 21:57] carymrobbins commented on #202
Make Project will just build your project with cabal, using the flags provided in the settings.

Right, so it just depends on whatever your workflow is.  Many times you just want to build it without having to run your test suite.

It basically passes `--enable-tests` to `cabal configure`.  This is so you can run test suites.  Note that if you run `cabal test` from the IDE this option is automatica

[2015-10-02 22:07] orome commented on #202
Cool, thanks. I was a bit confused by how things interacted (e.g. why I could test, with the IDE, even of I'd unchecked "enable tests").

So to be clear: "Make Project" (as well as running testing from the IDE) will have side effects (it runs `cabal configure`?), in that having run it, any subsequent Cabal commands (e.g., from the command line or External Tools) will be subject to whatever IDE com

[2015-10-07 12:05] carymrobbins commented on #202
Sorry about the delayed response.

Correct, there's not really a way to sandbox this and prevent side-effects (from what I can tell).  It seems most users are moving to stack anyway, so once I'm done with stack support this should mostly become a legacy issue.

[2015-10-07 12:25] orome commented on #202
I guess I need to learn some Stack then! This is minor in any case (I'm more interested in #196, #198, #199 and #182).

[2015-10-09 03:38] carymrobbins commented on #199
This will be resolved in the next release, **v0.3-beta.23**.

[2015-10-09 03:38] #199 closed

[2015-10-09 23:03] carymrobbins commented on #202
Closing this as I believe it has been addressed.  @orome - please reopen if I missed something.

[2015-10-09 23:03] #202 closed

[2015-10-09 23:49] carymrobbins commented on #196
This should be resolved in the next release, **v0.3-beta.24**.

[2015-10-09 23:49] #196 closed

[2015-10-09 23:57] carymrobbins commented on #192
Now that I'm implementing stack support, I'm wondering how this would work with stack.  Possibly we could still use `cabal get`, but I'd be worried about how it may affect the stack project, as well as requiring the user to have a `cabal` executable configured.

If anyone knows of a way to use stack (or similar tooling) to achieve this _without_ cabal, that'd be great.  All we need to do is be abl

[2015-10-09 23:58] carymrobbins commented on #183
Once stack support rolls out, the Haskell SDK will be automatically created for you and require virtually no configuration.  This applies to cabal-based projects as well.  Thus, this will become a non-issue.

[2015-10-09 23:58] #183 closed

[2015-10-10 00:02] carymrobbins commented on #184
**Required Solution** - Report errors to the user after calling `cabal init` from the new project wizard.  If it fails, we should still create the project, just warn the user once it opens so it can be corrected at that time.

[2015-10-10 03:22] carymrobbins commented on #198
What's odd is that this only happens with `-- |` haddocks and not `-- ^`.  This seems like it may be a bug upstream.  Either way, this led me to fix a bug with the lexing of haddocks, which means that they will be properly highlighted now as doc comments, as of the next release, **v0.3-beta.24**.

[2015-10-16 15:41] orome opened #203 "Auto-completion does not work"
The ["Intelligent, context-aware autocompletion"](http://carymrobbins.github.io/intellij-haskforce/) illustrated as a feature doesn't work for me. I get a few basic completions, but no package, function, or keyword completion.

[2015-10-16 16:57] carymrobbins commented on #203
Really, this is just the result of #182.  Once we support ghc-mod 5.4 this should work for you.  For others using an older version of ghc-mod this shouldn't be a problem.

[2015-11-09 13:33] OmanF opened #204 "Suggest type signature throwing exception"
(Maybe related to #113 ?)
When trying to use the suggest type (alt+equals) I get the following error:
[code]

When hitting the configuration button and taken to the page to choose the tools, I use the auto-find function to find the tools, specifically ghc-modi. All the tools are valid (I get the details line auto-filled with the correct details. Also, all tools are in the ~/.cabal/bin folder so I

[2015-11-09 21:30] carymrobbins commented on #204
What version of ghc, ghc-mod, and ghc-modi are you running?  For what it's worth, I'm currently working on ghc-mod 5.4 support (https://github.com/carymrobbins/intellij-haskforce/issues/182) and should be able to get that completed within the next week.

[2015-11-10 05:00] OmanF commented on #204
I'm running GHC 7.10.2 and ghc-mod/ghc-modi at 5.4.0.0
(BTW, I'm watching the thread about 182 keenly. Great news about the upcoming update).

Thanks!

[2015-11-16 21:50] kallus opened #205 "Can't create new project. IntelliJ throws exception."
At the end of the wizard for creating a new Haskell project, when I click "Finish" nothing happens. In the terminal where I started IntelliJ I see the following exception (throwed once each time I press "Finish"):

	[ 341139]  ERROR - llij.ide.plugins.PluginManager - null
	java.security.PrivilegedActionException: java.security.PrivilegedActionException: com.intellij.execution.ExecutionException: c

[2015-11-16 22:07] kallus commented on #205
Solved it. The suggested path to the ghc binary was wrong. I think it pointed to an old ghc.

[2015-11-20 06:12] carymrobbins commented on #203
@orome - Closing this as ghc-mod 5.4 support is finally in.  Sorry for the delay!

[2015-11-20 06:12] #203 closed

[2015-11-20 06:14] carymrobbins commented on #195
@dhobbs - Closing as ghc-mod 5.4 support is in the latest release.  Please reopen if you still encounter this issue.  I recommend removing any existing `*.iml` files in your project, as well as the `.idea` directory and freshly importing the project, choosing "stack" as your import model.

[2015-11-20 06:14] #195 closed

[2015-11-20 06:16] carymrobbins commented on #184
@orome - Closing as this should be resolved in the latest release.  We no longer call `cabal init` from the project wizard.

[2015-11-20 06:16] #184 closed

[2015-11-20 06:18] carymrobbins commented on #182
Finally!  We now have ghc-mod 5.4 support, as well as stack support, in the latest release.  Closing this issue, but please submit issues if you encounter any problems.

[2015-11-20 06:18] #182 closed

[2015-11-20 06:19] carymrobbins commented on #165
@0culus - Closing this for now, please reopen if there's something that needs to be addressed.

[2015-11-20 06:19] #165 closed

[2015-11-20 06:20] carymrobbins commented on #162
I've grown to really enjoy the Scala plugin's "worksheet" mode.  It's like a repl, but you just edit a source file and have the expressions evaluated in a separate pane.  Something like that would be really useful.

[2015-11-20 06:22] carymrobbins commented on #167
Stack support is now in the latest release.  I will be updating the Quick Start guide, so check there for more info.

[2015-11-20 06:22] #167 closed

[2015-11-20 06:51] carymrobbins commented on #182
Also note that you _may_ need to reconfigure `ghc-modi` as `ghc-mod` and have its flags set to `legacy-interactive`.  HaskForce does this automatically when you configure the tools, so you can also clear any ghc-modi configuration you may have, apply the changes, then use Auto-find and apply again to reconfigure automatically.

[2015-11-20 06:53] carymrobbins commented on #204
@OmanF - The latest release now supports ghc-mod 5.4, so this may have gone away for you now.  Try it again with the new release and let me know if you are still experiencing the issue.

[2015-11-20 06:55] carymrobbins commented on #205
Stuff like this shouldn't happen in the latest release since we no longer call out to cabal during the project wizard.  Closing for now, but feel free to reopen (or submit a new issue) if problems persist.

[2015-11-20 06:55] #205 closed

[2015-11-20 06:55] carymrobbins commented on #198
The latest release is out, so closing this.  Please reopen if you still experience the issue.

[2015-11-20 07:10] carymrobbins opened #206 "Stack build"
Currently, the stack builder can be a little inefficient.  In order to get absolute paths to the source locations of errors, we must run `stack build .` in each package directory, which is slower than just running `stack build` at the project root.

Note that there is an open issue upstream to get absolute paths when using `stack build` - https://github.com/commercialhaskell/stack/issues/1348

[2015-11-20 08:29] carymrobbins commented on #31
The latest release now uses a dummy SDK, relying on the build tool configurations (stack, cabal, ghc).  This _should_ be a non-issue.  If anyone encounters this, please reopen this issue.

[2015-11-20 08:29] #31 closed

[2015-11-20 09:21] tolysz opened #207 "ghc-exactprint integration"
There is a nice refactoring package:

Demo: https://skillsmatter.com/skillscasts/6539-a-new-foundation-for-refactoring-ghc-exactprint

https://github.com/alanz/ghc-exactprint

[2015-11-20 09:34] fatlazycat commented on #162
The playground in Haskell For Mac is pretty great !

[2015-11-20 11:57] WillSewell commented on #182
Good job! Thanks :)

[2015-11-20 16:00] orome commented on #198
This seems worse now. Double-clicking still selects the whole line, but now, in addition, if I hit return in a line beginning with `-- |`, the comment is not continued, and the insertion point jumps to the end of the first word on the new line.

[2015-11-20 16:02] carymrobbins commented on #198
@orome - Ouch, I'll take a look at it.

[2015-11-20 16:07] orome commented on #182
@carymrobbins: How will we know if we need to reconfigure `ghci-modi` as  `ghci-mod`. I don't seem to have a choice since when I apply settings the former gets changed to the latter.

[2015-11-20 16:12] carymrobbins commented on #182
@orome - Sorry, I should have been more clear.  It _should_ change to the latter, because we want it configured as `ghc-mod legacy-interactive`.  When you are using the deprecated ghc-mod, HaskForce fixes this for you.

[2015-11-20 16:18] carymrobbins commented on #191
@mrkafk - It seems that this issue is actually a problem with installing ghc-mod.  You may want to try building it from source with stack or using a cabal sandbox.

[2015-11-20 16:20] orome commented on #182
I guess I don't understand the relationship between `ghci-modi` as  `ghci-mod`. Is the former or the latter deprecated? Which should I have in each of the settings to be "most current"?

[2015-11-20 17:44] carymrobbins commented on #182
@orome - `ghc-modi` is deprecated and has been replaced by `ghc-mod legacy-interactive`.  Here's what your configuration should look like, substituting the path to `ghc-mod` with wherever you have it installed.

![image](https://cloud.githubusercontent.com/assets/3103764/11307141/ee9ce04c-8f7b-11e5-9500-2ca786b346eb.png)

[2015-11-20 17:49] orome commented on #182
@carymrobbins — Cool. Thanks. Got it. Seems slow though.

[2015-11-20 20:05] carymrobbins commented on #182
@orome - Feel free to open an issue if the performance is a nuisance.  Include which actions seem slow (type info, error checking, etc.) and other side effects that may be impacting your workflow (e.g. locks the editor).

[2015-11-20 23:11] orome commented on #198
Also the first line (with the `-- |`) is colored differently from remaining lines (preceded by just `--  `) in the same comment.

[2015-11-21 18:19] orome opened #208 "Testing modules marked as "could not find module""
Modules used in testing but not in the library are marked as "could not find module" even though they are listed in `.cabal`'s `test-suite` `build-depends`.

[2015-11-21 19:22] carymrobbins commented on #208
@orome - Could you provide a screen shot or example?  Trying to understand where exactly you're seeing the message.  It sounds like it may be coming from ghc-mod, which has had issues in the past with multiple cabal components, particularly with tests.

[2015-11-21 22:01] orome commented on #208
@carymrobbins - That make sense. If `ghc-mod` is known to have those issues, then that's probably what I'm seeing (at appears once I added `ghc-mod` to my settings).

What I see is highlighted errors on the lines importing the modules in my test scripts.

[2015-11-21 22:33] carymrobbins commented on #208
@orome - Are you using cabal or stack?

With cabal, you can run `cabal configure --enable-tests` from the command line or check the **Enable Tests** setting in the Haskell Compiler settings in IntelliJ.  That has resolved that issue in the past.

If you are using stack, you could try to run `stack test` and see if at least building the tests helps the issue.

[2015-11-21 22:39] orome commented on #208
@carymrobbins - Cabal, and I have tests enabled in the settings. Running `cabal configure --enable-tests` fixes the problem though — weird.

[2015-11-25 06:16] AurimasAnskaitis opened #209 "Autocompletion (autosuggestions) not working when hiding something"
When using this code
[code]
I get the suggestion for "singleton".

Using this code (added hiding (unsafeHead)) no suggestions are popped.
[code]

The behaviour is very consistent and happens every time.
Maybe this is a problem with ghc-mod (5.4 with legacy-interactice flag) which still has some problems with "package is hidden".

[2015-11-25 19:28] WiWa opened #210 "Error checking fails to work"
Probably after I used `stack setup` to locally install ghc 7.10.2

main = do
    x <- getLine

Should definitely have an error.

[2015-11-28 05:33] carymrobbins commented on #210
Do you have ghc-mod configured?  If so, what version?

[2015-11-28 05:45] carymrobbins opened #211 "Autocomplete package names"
[code]

Should autocomplete `Control`, then autocomplete child packages after entering a `.`

[2015-11-28 05:49] carymrobbins commented on #206
The issue upstream has been resolved, so a more efficient builder can now be implemented.

[2015-11-28 06:34] carymrobbins opened #212 "Unable to parse problems from ghc-modi"
Attempting to autocomplete in the following source causes **Unable to parse problems from ghc-modi** -

[code]

Reproduced directly with ghc-mod by doing -

[code]

[2015-11-28 09:06] carymrobbins commented on #212
This should be resolved in the next release, **v0.3-beta.25**

[2015-11-28 09:06] #212 closed

[2015-11-28 09:08] carymrobbins commented on #209
This should be resolved in the next release, **v0.3-beta.25**.  Please re-open this issue if the problem persists.  Thanks for reporting!

[2015-11-28 09:08] #209 closed

[2015-11-29 14:25] OmanF commented on #204
Sorry for not answering for a few days, I was computer-deprived.

To the point, the same error message is thrown!
I've updated the plugin to the latest version, auto-found GHC-MODi to be GHC-MOD with the interactive legacy flag.

I'm also now on IntelliJ 15.0.1.
Same JRE, GHC and ghc-mod/modi modules.

[2015-11-29 17:45] carymrobbins commented on #204
I've been able to reproduce this and will have it resolved for the next release.

[2015-11-29 17:56] carymrobbins commented on #208
@orome - I should have mentioned that the **Enable Tests** setting only gets applied once you run **Build**.  Maybe it should run `cabal configure --enable-tests` once you apply the settings?  I'm not entirely sure.

[2015-11-30 04:14] carymrobbins commented on #204
Thanks for the report, this will be resolved in the next release, **v0.3-beta.25**.  Please reopen if the issue is not resolved for you.

[2015-11-30 04:14] #204 closed

[2015-11-30 17:39] WiWa commented on #210
ghc-mod version 5.4.0.0 compiled by GHC 7.6.3

Perhaps the culprit is changing my GHC version? Not sure why that would be, just a stab in the dark.

[2015-11-30 20:39] carymrobbins commented on #210
If your project is using ghc 7.10, you should be using a ghc-mod compiled by ghc 7.10.  I would try to recompile ghc-mod, matching your project's ghc version, and see if that works.  You can also run `ghc-mod check <path/to/file>` from the package root, which may give some clues.  Be sure to paste its output in a comment as it may provide additional insight.

[2015-12-01 07:12] WiWa commented on #210
I did recompile with 7.10.2, but no cigar.
Running `ghc-mod check`:
    ghc-mod: <command line>: cannot satisfy -package-id base-4.6.0.1-8aa5d403c45ea59dcd2c39f123e27d57
        (use -v for more information)

I'm not sure where the verbose flag goes. `ghc-mod (-v) check (-v) file.hs`, either -v locations do nothing. And `ghc-mod check file.hs -v` makes it look like -v is another file.

[2015-12-01 10:45] OmanF commented on #204
Original error resolved. Now, when trying to show type info **for the first time**, getting the following exception thrown:

ghc-modi error
         Killing ghc-modi due to process failure.
         You can restart it using Tools > Restart ghc-modi
         Executing ghc-modi command 'type /home/ohadf/Projects/Haskell/myTestHaskellProject/src/MyTest.hs 3 3' failed with error: EXCEPTION: types:

[2015-12-02 00:49] orome commented on #198
@carymrobbins — Have you been able to confirm the color issue? (It persists in the latest update for me.)

[2015-12-02 03:35] carymrobbins commented on #198
Yes, the color issue can be pretty easily resolved by changing around how we lex haddock comments. See commit https://github.com/carymrobbins/intellij-haskforce/commit/d31aa9b3e40820d51b9716d173708b0b0c80f01f which implements this.

However, the double-click issue still persists.  My guess is that we're parsing it as a `PsiComment` but we actually need to be parsing it as a `PsiDocComment`.  What'

[2015-12-02 03:48] carymrobbins commented on #210
This sounds similar to an issue I've had in the past - https://github.com/kazu-yamamoto/ghc-mod/issues/623

@WiWa - You may want to try to remove any `dist` directories you have in your project.  I had several in each of my subprojects.

@DanielG - Feel free to chime in here if you have any ideas.

[2015-12-02 17:07] orome commented on #198
@carymrobbins — Cool, thanks! The selection is wired, but not as much of an problem day-to-day as the coloring is (was).

[2015-12-02 18:01] WiWa commented on #210
After removing `dist` and running ghc-mod check:
cabal: At least the following dependencies are missing:
base ==4.6.*
ghc-mod: readCreateProcess: cabal "configure" "--with-ghc=ghc" (exit 1):
failed

So I changed `base ==4.6.*` to `base >=4.6.0`, `cabal configure` and now
`ghc-mod check file.hs` returns nothing. Checked intelliJ, continues to
misbehave. I'm thinking perhaps it might be an intelliJ

[2015-12-02 19:19] carymrobbins commented on #210
If you are using stack, don't use cabal.  Double check and ensure there are no `dist` directories in your project.  Once that's done, try to run `stack build`.  That should ensure you have any and all dependencies.  Once that's done, I'd restart IntelliJ and try again, making sure that your configured ghc-mod and ghc-modi are pointing to the appropriate ghc-mod compiled by GHC 7.10.2.  Note that g

[2015-12-02 19:21] carymrobbins commented on #210
Also, `ghc-mod check` should report compilation errors to you.  If you aren't seeing any and you expect to, IntelliJ won't report them either, and you have something configured incorrectly.

[2015-12-02 20:00] WiWa commented on #210
Thanks, everything is once again good under the sun. In summary:
Recompiling didn't work, removing dist didn't work (though it did fix my ghc-mod error), but then it turns out IntelliJ forgot the directory for my tools, so I set that up again and things are A-okay.

[2015-12-02 20:04] carymrobbins commented on #210
Whew, glad it's working for you! :sweat_smile:

If you run into any other issues feel free to open a ticket or ask in **#haskforce** on freenode IRC.

[2015-12-03 22:03] donut opened #213 "Unable to parse problems from ghc-modi"
I'm running into this error. It looks like it's stopping type info from being available.

[code]

[2015-12-03 22:46] orome commented on #198
@carymrobbins — FWIW, it seems that double-clicking in white space in a doc-comment in *any* JetBrains IDE selects the whole comment.

[2015-12-03 23:04] carymrobbins commented on #213
Thanks for the report @donut.

**Technical Notes** - We need to implement `ghc-mod root <file>` and use its result as the working directory.  I'm thinking a method like `String root(String path)` which gets called for commands.  It'll probably require some light refactoring of the command methods as well.

[2015-12-03 23:27] carymrobbins commented on #198
Yes, but ideally double-clicking a word shouldn't.  I noticed when looking at the parse tree for Java and Scala that the PsiDocComment has child nodes, so that may aid in resolving the problem.

Are you building from source?  Wondering since you might have been inferring that you were using a build based off of my referenced commit.

[2015-12-03 23:43] orome commented on #198
@carymrobbins — No, I'm sticking with releases that JetBrains has.

[2015-12-04 11:38] opensourcegeek opened #214 "Is the debugger supposed to work with cabal run?"
I've started playing with haskforce plugin, quite like. Thanks for your work. I'm not sure if debugger is supposed to work already and if my local installation is broken or debugger isn't supported yet. If not supported yet, is that in your roadmap?

[2015-12-04 15:49] donut commented on #213
Any ideas about what might be different about my setup that's revealing this bug?

[2015-12-04 17:06] carymrobbins commented on #213
@donut - Yes, I should have mentioned that.  It seems your module files (the `.iml` ones) are in your `.idea/` directory.  Ideally, they should reside alongside each corresponding `.cabal` file.  If you are using Stack, you can try to import the project following the steps outlined in the [quick start guide](https://github.com/carymrobbins/intellij-haskforce/wiki/Quick-Start-Guide#importing-an-exi

[2015-12-04 17:09] carymrobbins commented on #214
@opensourcegeek - Unfortunately it's not supported yet and also not currently on the roadmap.  Debugging works very differently in Haskell than imperative languages, so getting it to work well in IntelliJ will be a tough task, but doable nonetheless.

If you or someone else is interested in working on this, feel free to start up a discussion here on it so we can get the wheels turning.

[2015-12-04 21:40] donut commented on #213
That worked. Thank you!

[2015-12-05 06:21] Daenyth opened #215 "Add "Insert type annotation" intention"
For example,

[code]

With cursor on `foo`, hit <kbd>alt+enter</kbd>, "Insert type annotation", would result in

[code]

[2015-12-05 06:29] carymrobbins commented on #215
Are you using ghc-mod?  If so, you should get that intention, unless you are using `-fno-warn-missing-signatures`.

If you are not using ghc-mod, see the [Quick Start Guide](https://github.com/carymrobbins/intellij-haskforce/wiki/Quick-Start-Guide#configuring-external-tools) for help with configuring it for HaskForce.

[2015-12-06 18:14] carymrobbins commented on #213
I'll still leave this open until I implement the `ghc-mod root` command to avoid folks running into this in the future.

[2015-12-07 00:11] Daenyth commented on #215
I believe I am. I have it installed via stack and the path is configured, I see a version number detected in the config panel.

<img width="771" alt="screen shot 2015-12-06 at 7 10 05 pm" src="https://cloud.githubusercontent.com/assets/14644/11616593/028385d8-9c4d-11e5-91ee-a143674ea537.png">

I don't see any intentions for haskell at all; in contrast I have a top-level tree of scala intentions fr

[2015-12-07 00:18] Daenyth commented on #215
I just restarted intellij and saw this:

[code]

[2015-12-07 00:42] carymrobbins commented on #215
@Daenyth - Configure ghc-modi to use the `ghc-mod` executable with the `legacy-interactive` flag.

[2015-12-07 02:20] Daenyth commented on #215
Is this correct? It still doesn't seem to be working.

<img width="694" alt="screen shot 2015-12-06 at 9 16 30 pm" src="https://cloud.githubusercontent.com/assets/14644/11617554/c8de77fe-9c5e-11e5-9d42-f180130740d6.png">

I get this now;

[code]

My Tools menu doesn't have a `Restart ghc-modi` entry. I'm on OSX if that makes a difference.

 Sorry if I'm missing something obvious; I'm just getting

[2015-12-07 02:33] Daenyth commented on #215
Maybe related to this: https://github.com/kazu-yamamoto/ghc-mod/issues/660

[2015-12-07 02:39] carymrobbins commented on #215
Yep, I bet you're right.  Do you have a `ghc` on your path?

[2015-12-07 02:42] Daenyth commented on #215
I do in my shell. I'm not sure how to get the intellij .app to include it.

My GHC sdk is set up with that directory;

<img width="689" alt="screen shot 2015-12-06 at 9 42 00 pm" src="https://cloud.githubusercontent.com/assets/14644/11617888/488f7040-9c62-11e5-9e0e-bf1cea461857.png">

[2015-12-07 02:48] Daenyth commented on #215
I tried adjusting my path with instructions from here: http://apple.stackexchange.com/questions/51677/how-to-set-path-for-finder-launched-applications

Now I get this
[code]

[2015-12-07 02:54] carymrobbins commented on #215
Ok, I just need to have the `GhcMod.parseProblem` method ignore compiling output.

It seems like, since it wasn't an error from ghc-mod, the interactive process should still run freely.  Therefore, once it's done compiling, stuff should start working properly.

I'll work on updating that method so you don't get that error.

[2015-12-07 03:29] Daenyth commented on #215
Thanks!

[2015-12-07 03:30] Daenyth commented on #215
That said, I don't have intentions still. Intellij 14 ultimate version, if that makes a difference.

[2015-12-09 05:10] carymrobbins commented on #215
@Daenyth - Do you have error highlighting and/or the ability to show type info?  I also wonder if it has something to do with building against IntelliJ 15.

[2015-12-09 05:37] carymrobbins opened #216 "Unable to import certain projects"
This is due to a bug in `StackProjectImportProvider.canImportFromFile` attempting to read directories.

[2015-12-09 05:38] #216 closed

[2015-12-09 05:53] carymrobbins opened #217 "Intentions not listed in settings"
In `GhcMod.fixHandlers` we define some intentions but these aren't displayed in the **Editor > Intentions** list.  It might be worth looking to see if there are any other intentions unaccounted for.

[2015-12-09 05:53] carymrobbins commented on #215
Confirmed that it works in IntelliJ 14.

Also, note that the intentions aren't actually listed in the **Editor > Intentions** settings.  If that's the problem, I've opened https://github.com/carymrobbins/intellij-haskforce/issues/217 to address that.

[2015-12-09 13:44] Daenyth commented on #215
Quick doc does show me type signatures, though I saw it crash once - I didn't grab the exception unfortunately. InputMismatchException I think.

I don't seem to have error highlighting; I put in a `foo x = x + 1 ++ "hi"` and it's not marked as an error; quick doc tells me `foo` is `[Char] -> [Char]`.

I'm thinking the intentions are missing because when I hit alt+enter on a function name no menu c

[2015-12-11 16:11] carymrobbins commented on #215
Could you check the IntelliJ logs?  You can find them here - https://intellij-support.jetbrains.com/hc/en-us/articles/206827517-Locating-IDE-log-files

I recommend restarting IntelliJ and running `tail -f <path/to/idea.log>` in a terminal so you can watch the output as stuff is happening.  If you see any errors or tracebacks, feel free to link to them (it may be convenient to paste them into a [gi

[2015-12-13 12:39] shockone commented on #155
Also, uni-directional patterns fail to be parsed.

[code]

![](https://dl.dropboxusercontent.com/spa/dlqheu39w0arg9q/nng1mve6.png)

[2015-12-14 09:09] chrisosborn opened #218 "Lexing error for infix operator :->"
I am getting a lexing error matching against the following pattern:

[code]

The squiggly red line is under the underscore character, and the error in the tooltip indicates that it is not an expected token.

I believe this line should be accepted by the lexer and parser, as GHCi accepts it.

[2015-12-14 13:04] orome opened #219 "Report a warning if ghc-mod was compiled with a different version of GHC"
After updating GHC to 7.10.3 (using Homebrew), HaskForce stops functioning. For example I get
[code]
and the "External Libraries" still link to the 7.10.2 folder (even though that's not where new installations are going.)

In this case I have MissingH 1.3.0.1 in moth the 7.10.2 folder and the 7.10.3 folder. I'ver restarted and invalidated coaches, but to no avail.

What's the procedure for getting

[2015-12-14 13:47] orome opened #220 "External libraries point to old versions following GHC update"
After updating from GHC 7.10.2 to 7.10.3 (using Homebrew) the "External Libraries" are still listed as
[code]
How does one ensure that these get updated to match the current versions?

[2015-12-14 13:48] orome commented on #219
To get things working, it seems I just need to (1) rebuild by project and (2) reinstall and reset all the tools (e.g. `ghc-mod`) — but the libraries are still listed as wrong: #220.

[2015-12-14 18:37] carymrobbins commented on #220
@orome - I'm a little confused by this.  HaskForce doesn't manage your external libraries at all.  Where are you seeing this?

[2015-12-14 18:39] carymrobbins commented on #219
Maybe we should check that the configured ghc-mod was built with the configured GHC version.  If they don't match, report a warning.

[2015-12-14 19:15] orome commented on #219
@carymrobbins — Yes, as above, if I reset and reinstall a new `ghc-mod`, it says it's built by the new GHC.

[2015-12-14 19:18] orome commented on #220
<img width="1012" alt="screen shot 2015-12-14 at 2 17 29 pm" src="https://cloud.githubusercontent.com/assets/757327/11791099/7a7b207a-a26d-11e5-96b5-aa0c578d3c95.png">
<img width="666" alt="screen shot 2015-12-14 at 2 16 28 pm" src="https://cloud.githubusercontent.com/assets/757327/11791098/7a77efd6-a26d-11e5-9bde-9224d1869c55.png">

[2015-12-14 21:06] carymrobbins commented on #220
Oh I see.  The SDK home path isn't used, so this shouldn't affect anything.  In the latest versions of HaskForce, you don't need to setup the SDK at all as it's inferred from your build tool.

Maybe it'd be better to have the SDK path updated to point to your stack executable to make it less ambiguous.

[2015-12-14 21:13] orome commented on #220
@carymrobbins — What should I do to fix it?

[2015-12-14 21:15] carymrobbins commented on #220
I don't think it's affecting anything.  But if the path bothers you, you can just modify it to point where you'd like, e.g. the stack executable.  But once again, it shouldn't make a difference either way.

[2015-12-14 21:16] orome commented on #220
@carymrobbins — In that SDK dialog?

[2015-12-14 21:26] carymrobbins commented on #220
Exactly, where it says **Haskell SDK home path**.

[2015-12-14 21:34] orome commented on #220
@carymrobbins — It won't let me. I'll just leave it. I don't understand what it is or why its there.

[2015-12-16 19:03] WiWa commented on #210
Opened another project, and issue is back, even after I switched to original project.

[2015-12-30 12:39] korayal opened #221 "New project imports break when `packages` in stack.yaml is not a list of strings"
http://docs.haskellstack.org/en/stable/yaml_configuration.html?highlight=yaml#packages dictates that there is another alternative for `package` inside the yaml:

[code]
or
[code]
instead of:

[code]

[2015-12-30 18:52] carymrobbins commented on #221
Thanks @korayal, I just added this commit 6f2738f on the [wip](https://github.com/carymrobbins/intellij-haskforce/tree/wip) branch which improves the parsing of Yaml to avoid the exception, although, this still won't really work for those other stack.yaml files just yet.  I'll need to go through the docs more to understand how to handle each individual key properly.

If you or anyone else wants to

[2016-01-03 13:19] orome commented on #220
After much experimenting, I found this and chose "Haskell", which seems to work:

<img width="515" alt="screen shot 2016-01-03 at 8 15 47 am" src="https://cloud.githubusercontent.com/assets/757327/12078912/4ae5b188-b1f2-11e5-9ed3-43e39a5f951e.png">

But this sets the path in the "Platform Settings" to and odd (and seemingly meaningless) value:

<img width="835" alt="screen shot 2016-01-03 at 8 17

[2016-01-03 13:21] orome opened #222 "Shouldn't the .iml file be in .idea/?"
For other projects I've built using the IDE, I have the `.iml` file tucked away in the `.idea/` directory. But if I try that here my project isn't recognized. Is this normal?

[2016-01-03 14:09] carymrobbins commented on #220
Currently, the SDK path _is_ meaningless.  Certain things (e.g. building) seem to require having an SDK, so the plugin will create the SDK for you upon project creation or import.  The SDK merely existing appears to be the required prerequisite for certain functions.

In reality, the SDK isn't really used for anything, so it can mostly be ignored.

[2016-01-03 14:11] orome commented on #220
That seems to be the case. I have other non-Java projects in the IDE (e.g. Mathematica) that for which I never use "build", and these don't seem to care that there's no SDK set at all. Building seems to need one, but if it's not actually used (as here), it can be anything (it seems).

[2016-01-03 14:14] carymrobbins commented on #222
Originally in IntelliJ, `.iml` files were inside the module directory.  It seems that newer versions of IntelliJ instead put them in the `.idea/` directory.  HaskForce still currently puts them (and assumes they are) in the module directory.

What do you mean by the "project isn't recognized"?  Is there a specific error message that you receive?

[2016-01-03 14:15] carymrobbins commented on #220
Exactly.  I'll go ahead and close this issue, but let me know if some issues arise and we can revisit this if need be.

[2016-01-03 14:15] #220 closed

[2016-01-03 14:33] orome commented on #222
If I move it to the `.idea/` directory, the project isn't recognized as a project (e.g., no modules are recognized). This isn't the case with other projects where I do the same (move the `.iml` manually).

[2016-01-03 14:36] carymrobbins commented on #222
Yes, HaskForce associates the `.iml` files directly with their module directories, so it expects them to be in their respective roots.  This _could_ change, but would require some work.

[2016-01-04 19:56] alanz opened #223 "Consider integrating haskell-ide-engine"
https://github.com/haskell/haskell-ide-engine is a project hoping to simplify integration of haskell tools into IDEs. It does this by separating out the process of integrating a tool into `hie` from integrating `hie` into an IDE. The intention is that each of these need only happen once.

[2016-01-13 08:24] adinapoli opened #224 "ghc-modi tool: Allow custom flags other than legacy-interactive"
Hey there!

Great job on this plugin, keep it up!

I wanted to give it a serious shot for work, but I'm having some problems with ghc-modi, but it's orthogonal to this issue. I want to force other flags in the ghc-modi section other than `legacy-interactive`, but this lines of code seems to completely wipe and replace the content with legacy-interactive only:

https://github.com/carymrobbins/intel

[2016-01-13 08:30] carymrobbins commented on #224
@adinapoli - Nice catch.  That sounds like it should work just fine.  Would you like to put a PR together?  If so, I'll be happy to merge it.

[2016-01-13 08:36] adinapoli commented on #224
@carymrobbins Hey man, thanks for the quick reply. I will try to cook up something off working hours then :wink:

[2016-01-13 19:58] adinapoli commented on #224
@carymrobbins I have missed the hacking-window for tonight, as I spent most of it configuring the project :wink:

This is where I've got so far (will polish and issue a PR tomorrow night).

https://github.com/carymrobbins/intellij-haskforce/compare/master...adinapoli:issue-224

An open question:

Is that normal that my patch also includes what seems spurious stuff in the .iml files?

[2016-01-14 11:19] Daenyth commented on #215
I opened the project, and did the Quick Doc action on `foo`, logs show this

[code]

[2016-01-15 08:28] #224 closed

[2016-01-16 18:11] joprice opened #227 "haskforce plugin breaks importing other project types"
When importing an sbt project with haskforce plugin installed, the haskforce project throws an exception and intellij silently ignores my import request.

It looks like another `!fileOrDirectory.isDirectory` is required on when filtering children.

https://github.com/carymrobbins/intellij-haskforce/blob/v0.3-beta.25/src/com/haskforce/importWizard/stack/StackProjectImportProvider.scala#L27

[code]

[2016-01-16 20:28] carymrobbins commented on #227
I plan on making a release later tonight, so I'll include the fix for this.  Thanks for the report!

[2016-01-17 07:53] carymrobbins commented on #215
That's odd that you are seeing an `InputMismatchException` since that should be resolved as of version `0.3-beta.25`.  Are you running that version or an earlier one?  I'll be making a release here shortly, so you might as well update to the latest version anyway.

Also, check your build settings in **Project Preferences > Build, Execution, Deployment > Compiler > Haskell Compiler**.  Are you usin

[2016-01-17 07:59] carymrobbins commented on #198
It seems that my possible fix for the lexing/coloring issue is causing some parse errors somewhere else in the layout; although, it's a bit hard to track down since it works with the IntelliJ test runner and fails with ant (both locally and on travis).  For reference, the latest version of that commit is 69729e5 , but I'll be pulling it out before making the next release until I can figure out wha

[2016-01-17 08:29] carymrobbins commented on #227
@joprice - This should be resolved in the latest release, **0.3-beta.26**.  Please reopen if you encounter any issues.

[2016-01-17 08:29] #227 closed

[2016-01-18 15:24] joprice commented on #227
No problem. When should I expect to see it in the plugin search? I still see 25.

[2016-01-18 15:33] carymrobbins commented on #227
@joprice - Maybe it would help if I'd actually upload the release to Jetbrains' repo.

It should be available now, sorry about that!

[2016-01-18 15:45] joprice commented on #227
Thanks! I was just able to install it and import both a haskell and sbt based project.

[2016-01-18 16:13] carymrobbins commented on #227
Sounds good, thanks again for the report @joprice!

[2016-01-19 14:01] Wizek commented on #186
Has there been any progress on this? I'm trying to try out haskforce and don't know why it tells me "Type info not found".

[2016-01-20 19:13] a10nik commented on #213
by the way, since [this issue](https://github.com/DanielG/ghc-mod/issues/665) has been fixed ghc-mod soon will not have that ugly requirement anymore. it was initially introduced in 5.4.0 version of ghc-mod to avoid some race conditions and has been spoiling lives of vim users since than. after 5.5.0 it will no longer, as it seems

[2016-01-21 04:00] carymrobbins commented on #186
Unfortunately, I haven't had a chance to work on this yet.  In most cases we can probably use `NotificationUtil.displaySimpleNotification` to report a more descriptive error to the user.

[2016-01-21 04:03] carymrobbins commented on #213
@a10nik - Thanks for bringing this up.  I will leave this open until I get a chance to confirm that it works well with 5.5.0.

[2016-01-21 22:22] awalland opened #228 "Intellij freezes completely when adding or removing class constraint"
Main.hs
[code]

if i try to remove `, Ord a` from the class constraint intellij freezes completely with java stuck at 100%.

the same thing happens if it is initially not there and i try to add it.

curiously it works if i remove the `::`, add the class constraints and then re-add the `::`.

[code]
[code]

Thank you very much in advance :)

[2016-01-22 01:29] carymrobbins opened #229 "ghc-mod + stack support"
It seems that ghc-mod and stack don't play very nice together.  For one, the PATH hacks that are done for ghc-mod so it can find your configured ghc don't work at all when using stack, since it manages your ghc.  A workaround is to configure ghc-mod and ghc-modi to work within `stack exec`.

![image](https://cloud.githubusercontent.com/assets/3103764/12500067/44dba8c4-c075-11e5-8c40-694d770c4ee1.p

[2016-01-22 01:31] carymrobbins opened #230 "Stack imports unnecessary root module"
When importing a stack project which consists of a single package at `.`, the project importer creates two modules - one for the imported module, and another for the "root" project.  This is useful when we have packages as subdirectories, but not when we have a single package already at the root.

[2016-01-23 00:35] T-Spoon opened #231 "Can't Edit Specific File -"
It seems that this particular file gives an IndexOutOfBounds exception when trying to edit it:

Stacktrace
[code]

File Contents
[code]

[2016-01-23 22:21] newhoggy opened #232 "Exceptions thrown in IntelliJ"
OS version: OS X 10.11.3
IDE version: IntelliJ IDEA 15.0.3

[code]

[2016-01-26 20:38] orome commented on #198
Yes, I've seen this behavior (doc comments behaving this way) elsewhere now; not in HaskForce, but in a different language in one of the JetBrains IDEs. But I didn't have the presence of mind to note where!

[2016-01-26 20:51] carymrobbins commented on #198
Good to know it's not just me.  Looking at the Java AST it seems that they are breaking out the elements differently, so once I do some deeper parsing of the haddock AST this issue will probably be resolved.

[2016-01-27 03:02] carymrobbins commented on #231
Odd that it would be resolved by removing the `.idea` directory.  I'll keep this open in case other clues develop.

[2016-01-27 04:16] carymrobbins commented on #232
Related to #164.

I've fixed this in master, it should be available in **0.3-beta.27**.

[2016-01-27 04:16] #232 closed

[2016-01-27 04:17] carymrobbins commented on #164
This should be resolved as of **0.3-beta.27**.

[2016-01-27 04:17] #164 closed

[2016-01-28 22:10] korayal commented on #229
I think it is possible when you add `--with-stack=<stack/binary/path>`  to flags. (or maybe add it off the shelf since HaskForce already knows the path of stack and if we are using stack or not)

[2016-01-28 22:38] carymrobbins commented on #229
Good point!  No reason HaskForce shouldn't be able to do this on its own.

Nice work @korayal, this should be pretty straightforward to implement.

[2016-01-29 05:16] carymrobbins commented on #215
@Daenyth - I believe this issue should be resolved (as per my previous comment).  Please reopen if the bug persists.

[2016-01-29 05:16] #215 closed

[2016-01-29 05:22] carymrobbins commented on #210
@WiWa - Sorry for the delay, I assume you are still experiencing the issue?  If so, what are the results of running `/path/to/configured/ghc-mod check` from your project directory?

[2016-01-29 05:34] carymrobbins commented on #208
I'd say that going ahead and running `cabal configure --enable-tests` upon **Enable Tests**, as well as before error checking.  There might be a way to check and confirm that we've already done this, that way we don't waste too much time running `configure` multiple times.

[2016-01-29 05:39] carymrobbins commented on #192
`stack unpack` will actually work for this.

[2016-01-29 05:54] carymrobbins commented on #143
@d3dave - I'm going to go ahead and close this.  Please reopen if there's more to be done here.

[2016-01-29 05:54] #143 closed

[2016-01-29 06:03] carymrobbins commented on #130
@NightRa - Closing this issue as it seems to be resolved.  Please reopen if you are still experiencing the issue.

[2016-01-29 06:03] #130 closed

[2016-01-29 06:05] carymrobbins commented on #126
@KasperJanssens - Closing for now as I haven't experienced any issues with this.  If there are some specific examples that you know of, feel free to share (although, I realize it's been quite a while since this was originally submitted).  We can reopen if need be.

[2016-01-29 06:05] #126 closed

[2016-01-29 06:09] carymrobbins commented on #124
@NightRa, @THeK3nger - This issue should be resolved upstream via ghc-mod now.  If anyone still experiences this issue, please reopen.

[2016-01-29 06:09] #124 closed

[2016-01-29 06:15] carymrobbins commented on #107
@jaredrhall - This is pretty old and I haven't heard any complaints since (nor have I seen it myself) so I'll go ahead and close it for now.  If this still persists with the latest versions of IntelliJ and HaskForce, please reopen this issue.

[2016-01-29 06:15] #107 closed

[2016-01-29 06:18] carymrobbins commented on #86
There's more to do here, but this should probably be handled as smaller issues instead of one big one.

[2016-01-29 06:18] #86 closed

[2016-01-29 06:21] #63 closed

[2016-01-29 06:21] carymrobbins commented on #63
Closing this issue since it has not surfaced since IntelliJ 13.

[2016-01-29 06:23] carymrobbins commented on #44
Now that we have a proper procedure for importing projects, this shouldn't happen.

[2016-01-29 06:23] #44 closed

[2016-01-29 06:25] carymrobbins commented on #28
The final bullet here is blocked on #169.

[2016-01-29 06:27] carymrobbins commented on #20
Note that the same thing happens with stack as well.  However, this more than likely isn't a problem since cabal and stack manage this for us.  We just need to find a way to make it clear to the user that the compiler output dir isn't really configurable (unless we have a good reason to make it configurable, which I haven't seen).

[2016-01-29 06:28] carymrobbins commented on #17
Luckily, we don't really have to mess with this when it comes to stack.

[2016-01-29 07:59] carymrobbins opened #233 "Haskell Parser"
As it currently stands, there are 17 open issues with the current Haskell parser, and counting.  Here are my thoughts on the resolution -

- [ ] We have two lexers, and both probably deserve a rewrite.
    * The syntax highlighting lexer is bad copy-pasta from the parsing lexer, so it can probably be simplified greatly.
    * The parsing lexer probably needs a complete rethink, considering whitesp

[2016-02-02 06:59] carymrobbins commented on #219
This goes well with #229.  I assume, @orome, that you are using Cabal; however, we should account for both scenarios (cabal and stack).

We can see the version of ghc used to compile ghc-mod by doing the following -

[code]

With a cabal project, we can just check our configured ghc, ask it for its version, and confirm that it matches the version our configured ghc-mod was compiled with.  If we ar

[2016-02-02 13:03] orome commented on #219
If I run
[code]
I get
[code]
What's going on there?

[2016-02-02 13:12] carymrobbins commented on #219
Actually, it's probably better to do `stack ghc -- --version` to invoke `ghc` instead of the way I was doing it, `stack exec -- ghc --version`.  I've updated my original comment to use the proper command instead.

@orome - I assume that your project is build with cabal instead of stack.  Either way, try running that command that I suggested instead.  You'll probably get the same warning, so then y

[2016-02-02 13:17] orome commented on #219
I use Cabal but may eventually switch to Stack. Should I run `stack setup` now in anticipation just to be tidy? Are there side effects I should be concerned about?

[2016-02-02 13:30] carymrobbins commented on #219
I don't think there are any unintended side-effects.  Stack is particularly hygienic, so you don't have to worry much about its binaries effecting things you already have installed.

[2016-02-02 13:56] orome commented on #219
I went ahead and ran `stack setup` which seems to have worked without side effects. Before doing so though it was important to change the `resolver` in `~/.stack/global/stack.yaml` to something that uses the latest `ghc`.

[2016-02-02 13:59] carymrobbins commented on #219
Good point, I should have mentioned that as well.  I usually just go to https://www.stackage.org/snapshots and reach for the latest LTS version.

[2016-02-05 06:02] carymrobbins commented on #233
I was thinking about how [haskell-src-exts](https://github.com/haskell-suite/haskell-src-exts) might be a possible alternative to implementing the parser ourselves.  Note that we had attempted this before by using an external tool, [parser-helper](https://github.com/pjonsson/parser-helper), which serialized haskell-src-exts to JSON.  However, there are a few problems I see with this.

1. IntelliJ

[2016-02-05 11:03] galderz commented on #228
I have a very similar problem. When I add a class constraint to a method, the IDE hangs on 100% :((

I've taken a thread dump which can be found [here](https://www.dropbox.com/s/j9r8s5fo3m3gz4j/intellij-hang-dump.txt?dl=0).

The following looks suspicious:

[code]

I have no idea what the Scala Language plugin is doing in that thread dump since this is a Haskell/Javascript project :\

IntelliJ ver

[2016-02-05 17:30] carymrobbins commented on #228
Ok, this is caused by a bug in Grammar-Kit, which I've filed - https://github.com/JetBrains/Grammar-Kit/issues/92

See the issue linked above for the technical details of this bug.  I think I can work around this by instructing Grammar-Kit to _not_ implement a `getContext` method.

[2016-02-05 17:40] carymrobbins commented on #228
Ok, I should have a working fix for this.  I have been having some trouble getting travis to build successfully (mysterious since the ant build and tests work fine locally) but I'll try to get this merged into master and released by the end of the day.

Kudos to @awalland for providing a perfect test case to reproduce, and kudos to @galderz for pointing out that the Scala plugin specifically cause

[2016-02-06 00:50] carymrobbins opened #234 "JDK6 builds fail in CI"
It looks like the JDK6 builds are failing in CI due to a mysterious error -

https://travis-ci.org/carymrobbins/intellij-haskforce/jobs/107356422

This seems a bit odd as that test was passing just fine before.  Even rebuilding existing builds which were successful yield the same error.

For now, I may need to just disable the JDK6 builds on CI.

[2016-02-06 02:28] carymrobbins opened #235 "NewProjectWizardTest.testNewStackProject can't find stack file on CI"
We poll the file system for one minute to see if a `stack.yaml` was created, but on CI this fails.  We may prefer to find a better way to test this that is more reliable.

https://travis-ci.org/carymrobbins/intellij-haskforce#L323

[2016-02-06 03:00] carymrobbins commented on #219
This has been resolved in the latest release, **v0.3-beta.27**.

[2016-02-06 03:00] #219 closed

[2016-02-06 03:00] carymrobbins commented on #229
This has been resolved in the latest release, **v0.3-beta.27**.

[2016-02-06 03:00] #229 closed

[2016-02-06 03:00] carymrobbins commented on #228
This has been resolved in the latest release, **v0.3-beta.27**.

[2016-02-06 03:00] #228 closed

[2016-02-06 03:00] carymrobbins commented on #230
This has been resolved in the latest release, **v0.3-beta.27**.

[2016-02-06 06:53] carymrobbins opened #236 "Refactor GhcMod(i) classes"
We need to refactor the GhcMod(i) classes and their usages to use some DI so we can easily plug in the appropriate tools for the features they provides, e.g. TypeInfoProvider, CompilerErrorProvider, etc. This will make the logic cleaner as well as make it easier to integrate new tools such as ide-backend.

[2016-02-06 06:55] carymrobbins opened #237 "Ghc-mod tool pane"
Blocked by #236.

Ghc-mod is heavily leveraged in the IDE, but unfortunately it's hard for users to figure out what to do when things go wrong with it.

- [ ] Ideally, we should have a pane in the UI that displays the raw commands sent to ghc-mod and its responses.  This would make it much easier for end users to see what's going on and debug issues, as well as report bugs.
- [ ] Instead of having

[2016-02-06 15:28] AndreasPK opened #238 "Add support for stack run similar to cabal run"
The plugin currently only supports cabal for the run/test configurations.

Adding similar support for stack would be a nice feature.

[2016-02-06 22:44] awalland commented on #228
great! it works! thank you very much for fixing this so quickly :)

[2016-02-07 22:38] JohnReedLOL opened #239 "Help"
Can you help?

http://stackoverflow.com/questions/35259912/how-to-get-haskell-documentation-to-appear-in-intellij

[2016-02-08 12:34] carymrobbins commented on #239
@JohnReedLOL - Thanks for pointing me to that SO question.  I've provided a comment hopefully providing some clarity around how to proceed.  As this appears to be mostly related to providing documentation for a library function, closing as this is duplicated by #187.

[2016-02-08 12:34] #239 closed

[2016-02-08 18:37] JohnReedLOL opened #240 "Run problems"
See:

http://stackoverflow.com/questions/35259912/how-to-get-haskell-documentation-to-appear-in-intellij

Note that it needs to be more obvious that the first thing the user needs to do after installing Haskforce is "Run > Run Configuration > "+" > Cabal Run > Name it "CabalRun" > Ok" and then click the green Run arrow. Like that's the second most important thing just after "Uninstall IntelliJ Has

[2016-02-08 20:26] carymrobbins commented on #240
@JohnReedLOL - It looks like this is a cabal dependency issue, which I've updated in the comments of that SO question.

[2016-02-08 20:29] carymrobbins commented on #238
This probably wouldn't be too difficult, we'd just need to inspect the cabal file for the executable name and then call it via `stack exec <name>`.  The implementations in `com.haskforce.run` could be followed to implement this.

[2016-02-08 23:36] JohnReedLOL commented on #240
Ok. Fixed that cabal dependency issue. Now auto-complete doesn't work. "Ctr-B" works to jump to a function declaration in the same project, but Ctr-Space doesn't work and clicking "Code > Haskell Completion Cache Reload" didn't fix the problem.

[2016-02-10 11:35] chris-martin opened #241 ""Could not find GHC version in ghc-mod version info:""
I set up a Stack project, configured the path to `ghc-modi`, and got this error message in the event log:

I can't work out what it means.

[2016-02-10 11:54] chris-martin commented on #241
I have a lot of other questions, possibly related to this issue. Does there need to be a Haskell "SDK" configured (if so, what does it need to point to)? What behavior can I expect to see if I ever get this working? Will the editor show compile errors?

[2016-02-10 12:49] carymrobbins commented on #241
A couple of questions to understand your configuration -

1. What are the paths and flags you have configured for ghc-mod and ghc-modi?  Does the settings GUI display their versions?  If so, what are they?
1. What is the output of running `stack ghc -- --version` ? (from your project root).
1. What is the output of running `stack exec -- path/to/ghc-mod --version` ? (explicitly using your configur

[2016-02-10 12:53] carymrobbins commented on #241
Also, to explain the error you saw -

This is validating your configured ghc-mod version, ensuring that it was compiled against the same version of GHC that you are using (otherwise, you get weird issues).  It seems it didn't get any output from checking the ghc-mod version, so we need to figure out why that is.

[2016-02-10 22:33] chris-martin commented on #241
In the GUI:

I'm not sure why the Modi path is set to `ghc-mod` rather than `ghc-modi`. When I try to change it to `modi`, it automatically changes back to `mod` next time I open the settings.

[code]

[code]

[code]

[2016-02-10 22:40] carymrobbins commented on #241
This is because `ghc-modi` is actually "deprecated".  In its place we pass the `legacy-interactive` flag, which you will probably notice in the **Flags** field.  Do you have any other flags specified in your settings?  Also, does the `stack` executable you are calling on the command line (`which stack`) match the one you have configured in HaskForce?  You can find the configuration in -

**File >

[2016-02-11 00:52] carymrobbins opened #242 "Improper setting of work directory in HaskellCompilerConfigurable"
[code]

[2016-02-11 00:56] carymrobbins opened #243 "IndexOutOfBoundsException in HaskellReference.multiResolve"
[code]

[2016-02-11 07:15] carymrobbins commented on #240
@JohnReedLOL - I'd check to make sure ghc-mod is running.  Look in the IntelliJ event log and ensure you don't have any error messages.  If not, open a Haskell file in your project, then go to **Tools > Restart ghc-modi**.  You can also double check the processes directly by doing -

[code]

If that doesn't work I'd check the [IntelliJ logs](https://intellij-support.jetbrains.com/hc/en-us/articles

[2016-02-11 19:26] carymrobbins commented on #241
@chris-martin - I'm cleaning up some things so we'll get better errors in the IDE when exec processes fail.  This will be included in the next release, which will hopefully be out either tonight or tomorrow.

[2016-02-12 08:55] carymrobbins commented on #234
It seems that this actually affects both JDKs; albeit, somewhat intermittently.  The culprit appears to be that the `HaskellLexerTest.testInternalLexer` test is causing travis to run out of memory, so I'll disable that test for now.

[2016-02-12 23:21] carymrobbins commented on #241
@chris-martin - The release is out and published to Jetbrains' plugin repo, so **Help > Check for Update** should prompt to install the latest version.  Included is the improved error reporting as promised, as well as some clean up to the ghc-mod and error checking implementation, so post back if you are still experiencing the issue.

[2016-02-13 00:46] chris-martin commented on #241
That fixed it! Thanks a ton.

[2016-02-13 00:46] #241 closed

[2016-02-13 01:03] carymrobbins commented on #241
Awesome, thanks @chris-martin, this really helped clean up some stuff.

[2016-02-14 23:31] flatlizard opened #244 "After updating to 0.3-beta.28 hlint doesn't work."
After updating to 0.3-beta.28 hlint doesn't work. Every time hlint running it ends up with notification:
[code]
Project reconfiguring doesn't help.

[2016-02-14 23:42] carymrobbins commented on #244
@flatlizard - If you run that same command on the command line, what's the output?  After running it, you may want to also run `echo %errorlevel%` (I believe) to see the exit status.

[2016-02-15 14:22] narinari commented on #244
I occur same problem.The exit status is "1".

OS: OS X El Capitan
GHC: 7.10.3
HLint: 1.9.26

[2016-02-15 18:39] develop7 commented on #244
+1 here

[2016-02-16 07:38] carymrobbins commented on #244
This should be resolved in the latest release, **v0.3-beta.29**.  Thanks for the report!

[2016-02-16 07:38] #244 closed

[2016-02-16 12:34] develop7 commented on #244
@carymrobbins that was really fast, thanks!

[2016-02-16 12:35] develop7 commented on #230
Confirming, it's fixed.

[2016-02-18 19:30] carymrobbins opened #245 "Profiling plugin performance"
I've tried VisualVM in the past, but it only seemed to work during unit tests since it would slow the IDE down so much it was unusable.  However, I just noticed that the [BashSupport plugin](https://github.com/jansorg/BashSupport) mentions that it uses [YourKit](https://www.yourkit.com/java/profiler/index.jsp) to fix performance issues, so it might be worth trying out.

[2016-02-21 19:26] carymrobbins commented on #233
Here's a decent overview of the IntelliJ Psi Parsing API -

http://www.jetbrains.org/intellij/sdk/docs/reference_guide/custom_language_support/implementing_parser_and_psi.html

[2016-02-22 13:19] carymrobbins commented on #240
@JohnReedLOL - Are you still experiencing this issue?

[2016-02-24 16:37] fokot opened #246 "Extend selection (Cmd + w) does not select enclosing list"
I'm
`show ps = unlines $ map (\f -> f ps) [path, show.width, show.height, show.currentSlide]`
When the cursor is in the middle of width it select in this order:
`width`
`show.width`
`unlines $ map (\f -> f ps) [path, show.width, show.height, show.currentSlide]`
`= unlines $ map (\f -> f ps) [path, show.width, show.height, show.currentSlide]`
`show ps = unlines $ map (\f -> f ps) [path, show.width,

[2016-02-25 11:41] OmanF opened #247 "GHC-Mod/GHC-Modi/Stack mess/hell"
I'm not sure how to even describe the issue I'm facing.
Basically, I start Intellij on a newly minted Haskell project (which I started by "cabal init" in the folder the source files are contained in) and I get the errors you see in the screenshot.
(Included are screenshots of the plugin settings and the relevant portion of the .zshrc file).
(As can be seen, Haskell 7.10.3 compiled from source, Cab

[2016-02-25 11:57] OmanF commented on #247
P.S. As can be seen in the attached screenshot... no Tools -> Restart ghc-modi

![norestart](https://cloud.githubusercontent.com/assets/7848797/13319072/b5ec7058-dbc7-11e5-90b3-7e14a726fb9d.png)

[2016-02-25 14:10] carymrobbins commented on #247
@OmanF - It seems you are trying to mix cabal and stack in the same project, which won't work.  Since you are starting with a new project, use the IntelliJ new project wizard and choose Stack as your builder, as described in the [Quick Start Guide](https://github.com/carymrobbins/intellij-haskforce/wiki/Quick-Start-Guide#creating-a-new-project).  This will take care of initializing and configuring

[2016-02-25 15:25] OmanF commented on #247
Yes, thank you! Fixed.
Also, should mention the Settings->Build, Execution, Deployment->Compiler->Haskell compiler and change the build mechanism there or it will still cause issue.

Closing it.
Thanks.

[2016-02-25 15:25] #247 closed

[2016-03-02 12:29] korayal opened #248 "[Idea 16 EAP] Can't see `Stack` in external model list on Import Project window"
When I try to import an active project, I don't see `Stack` as an option (even though it contains a file named `stack.yaml`)

IDEA Version (IU-145.184)
Haskforce (0.3-beta.29)

[2016-03-05 14:46] tobiasgwaaler commented on #246
It seems like parenthesis and brackets are being confused for "the same thing", you can reproduce with a simpler case:
`foo = (\l -> id) [1,2]`
With the cursor inside the list, the same thing happens.

[2016-03-06 01:40] tobiasgwaaler commented on #246
maybe the reason for this is that `listlike` in `haskell.bnf` is declared as `private`, meaning it won't create a node in the AST? https://github.com/carymrobbins/intellij-haskforce/blob/master/src/com/haskforce/Haskell.bnf#L445

[2016-03-06 02:04] tobiasgwaaler commented on #246
removing `private` before `listlike` makes Extend selection behave as it should, but maybe there is a good reason why listlike was private in the first place?

[2016-03-06 02:51] carymrobbins commented on #246
@tobiasgwaaler - Nice work!  The only thing is that it changes the resulting AST, so some existing logic may break as a result.  Feel free to push up your changes and see if the Travis build passes.  If it does, I'd be willing to merge it in as a pull request.

[2016-03-06 10:55] tobiasgwaaler commented on #246
@carymrobbins thanks, will do!

[2016-03-06 18:55] foofighter2146 opened #251 "Using stack marks import as error even the regarding package is specified in .cabal file"
I use haskforce together with stack. If I define an import, e.g. `import Data.Text`, before I define the regarding package text in the .cabal file in the library build-depends section, haskforce marks the import correctly as an error (hidden package). If I add the dependency in the .cabal file and call 'stack build' then stack resolves all dependencies, but the error message still remains in the I

[2016-03-06 19:01] carymrobbins commented on #251
@foofighter2146 - This probably has to do with the ghc-modu process (`ghc-mod --interactive`) retaining it's original state.  You can currently get around this by restarting ghc-modi by going to **Tools > Restart ghc-modi**.

Maybe changes to a stack or cabal file should prompt and ask you if you'd like to restart the ghc-modi process for that module.

[2016-03-07 12:15] foofighter2146 commented on #251
@carymrobbins - Thank your the fast answer. Before I opened this issue, I had tried to restart ghc-modi and to invalidate caches of IDEA and restart the IDE. Both doesn't help to get rid of the error message.

But maybe you got the point: I wonder how I get the information that the restart of ghc-modi is successful. It was not printed into the Event Log. Do you know how I can check the status of r

[2016-03-08 09:33] huyz opened #252 "Should prevent creation of a stack project with whitespace in name"
I created a project with a space in the name.  I selected "Build with stack".
When the project was created, no stack.yaml file was generated.

[2016-03-08 22:12] tobiasgwaaler commented on #252
One suggestion is to allow spaces in the project name, but replace them with dashes when creating the cabal file, like so:
https://github.com/carymrobbins/intellij-haskforce/compare/master...tobiasgwaaler:error-messages-creating-invalid-stack-project?expand=1

[2016-03-08 22:23] tobiasgwaaler commented on #252
It would perhaps be better to replace spaces with dashes while you're typing in the project name, to make it more visible what the actual project name/cabal name will be

[2016-03-09 22:14] carymrobbins commented on #252
Maybe we could just have the field validated and ensure there are no spaces, letting the user decide what to do.  Having Swing text fields update as you type always seems problematic to me.

[2016-03-09 22:19] carymrobbins commented on #251
Nothing fancy, but you can check the processes manually -

[code]

I'm actually working on building in a tool pane so you can actually see what's going on with ghc-mod to make debugging these sorts of issues easier.

[2016-03-10 07:27] tobiasgwaaler commented on #252
Good idea, I'll try to implementing it :) Hopefully it's as simple as overriding `validate()` in [`HaskellModifiedSettingsStep `](https://github.com/carymrobbins/intellij-haskforce/blob/master/src/com/haskforce/HaskellModuleBuilder.scala#L351)

[2016-03-11 00:48] #246 closed

[2016-03-11 00:50] carymrobbins commented on #246
Thanks @tobiasgwaaler for your fix, I've merged it, so we'll see it in the next release **0.3-beta.30**

[2016-03-11 17:01] rwobben opened #253 "Question : Can I somehow see a type of something"
Hello,

Supose I have a map function like this : map (/x -> x * 2) l
is there a way I can see the type of x then ?

Regards,

Roelof

[2016-03-11 20:28] carymrobbins commented on #248
@korayal - I think this is actually a problem with the `packages` key not being present.  Is that the case with your issue?

According to the [docs](http://docs.haskellstack.org/en/stable/yaml_configuration/), a missing `packages` key indicates to use the root directory as the package.  Currently HaskForce doesn't assume this, but it should.

[2016-03-11 20:32] rwobben commented on #253
I made a test file

   test =
   test l = concat $ map (\x -> case of Nothig; case Just v -> [v] ) l

When I select for example the v and choose for view -> tyoe info, I do not see anything.
Also I see no type definition error as the demo on the page is showing.

Roelof

[2016-03-11 21:03] carymrobbins commented on #253
@rwobben - The **Type Info** feature is enabled by configuring ghc-mod and ghc-modi in **Haskell Tools** under your project settings.  Have you configured those?  If not, please see the [Quick Start Guide](https://github.com/carymrobbins/intellij-haskforce/wiki/Quick-Start-Guide#configuring-external-tools) on configuring external tools.

[2016-03-11 21:38] rwobben commented on #253
yep, on all those things something is filled in.

[2016-03-11 21:52] rwobben commented on #253
I did all the steps again and see now this error message :

  ghc
  failed to create process for command '''' --numeric version
  caused by :  com.intelij.execution.ExecutionException : executable is not specifed
  Configure

But everything is filled in. See here :  http://snag.gy/U6vWg.jpg
.

[2016-03-11 21:53] #252 closed

[2016-03-11 22:18] carymrobbins commented on #253
That error appears to be from `ghc`.  In your project settings, check **Build, Execution, Deployment > Compiler > Haskell Compiler**, ensure you are configured to build with either Stack or Cabal and that the appropriate paths are properly set.  I would recommend using Stack if possible.

How did you create the project?  This should all be taken care of for you during the project wizard.

[2016-03-12 08:46] rwobben commented on #253
Oke,

i made a new project with new -> project
put it the same file :

    Module Test where

    myTest = concat $ map $ ( \x -> case x of Nothing -> [] ; Just v -> [v] )

But when I now do view -> type info I see this error message :

   ghc-modi error
   Killing ghc-modi due to process failure

    You can restart it using Tools -> Restart ghc-modi

    Executing ghci-modi command 'type'
    /h

[2016-03-13 20:09] tobiasgwaaler commented on #206
It seems to me that "Make project" and "Make module ..." works the same way: targets are computed, and the dependencies between them, then each each module/target will be built. The way I see it we have to options to avoid calling `stack build .` in each module/target/package:
1) Create a separate `StackBuilder`, say `StackBuilderAll`, that gets called when "Make project" is issued. I'm not sure i

[2016-03-13 21:07] tobiasgwaaler commented on #206
And either way, since this landed in stack 1.0.4.2, we should keep the old way of doing it when using an older version of stack

[2016-03-14 03:04] carymrobbins commented on #206
Yeah, I think just doing `stack build` for any request to build is probably "good enough" for now.  We'd just want to confirm that it properly outputs absolute paths to the source locations.

[2016-03-14 18:43] foofighter2146 commented on #251
Strange stuff, this ghc-mod. Sometimes it seems that it stops magically even Intellij and HaskForce are alive and I had not used the restart link.

However, I found a small workaround that solves my problem: Adding dependency to cabal-file, call `stack build`, remove the dependency by commenting it out, call `stack build` again, remove comments and call `stack build` for a third time. At last ghc-

[2016-03-14 21:41] #238 closed

[2016-03-14 21:43] carymrobbins commented on #253
Hopefully either today or tomorrow I'll make a release with the new Haskell Tools Console (see #237) which displays the commands sent to and output from external tools like ghc-mod.  Once that's released it should be easier to tell what's going on here.

[2016-03-14 21:45] carymrobbins commented on #251
@foofighter2146 - That workaround sounds terrible.  Hopefully in the next day or so I should have the new release out.  With it we'll get the Haskell Tools Console (see #237) which will display commands sent to and output received from external tools.  This should make understanding and debugging issues like these much easier.

[2016-03-16 15:10] rwobben opened #257 "New project : no stack,yaml"
Hello,

When I made a new project with new project and then choose for Stack
A new project is made.
But when you want to build is , I see a error message that stack,yaml cannot be found.

Another difference.
If you make a new project with the prompt, you will have a directory app with main,hs in it and a directort src with lib,hs in it.

[2016-03-16 15:37] tobiasgwaaler commented on #257
Could it be that the Project Name you typed in had a white space character in it? That's a known issue we've fixed (but it's not released yet)
https://github.com/carymrobbins/intellij-haskforce/issues/252

[2016-03-16 15:48] rwobben commented on #257
yep, I named the project haskell book instead of HaskellBook

[2016-03-16 15:57] tobiasgwaaler commented on #257
Ok, good :) So this issue can be closed?

[2016-03-16 16:02] rwobben commented on #257
yep, I  tested it with a name without spaces and a .yaml file is being made.
so I close this issue.

[2016-03-16 16:02] #257 closed

[2016-03-16 16:13] rwobben commented on #162
I like that idea also.
Any idea when I could be ready?

[2016-03-17 21:18] carymrobbins commented on #248
This should now be resolved in the latest release, **v0.3-beta.30**. Please reopen if you are still experiencing the issue.

[2016-03-17 21:18] #248 closed

[2016-03-17 21:33] carymrobbins commented on #251
The [Haskell Tools Console](https://github.com/carymrobbins/intellij-haskforce/wiki/Quick-Start-Guide#haskell-tools-console) is now available in the latest release, **v0.3-beta.30**.  If you install the latest release and are able to reproduce the issue, include a paste of the tools console for ghc-modi.  From there that should give some insight as to what is going wrong.

[2016-03-17 21:36] carymrobbins commented on #253
Took a little longer than I expected, but **v0.3-beta.30** is out, and includes the [Haskell Tools Console](https://github.com/carymrobbins/intellij-haskforce/wiki/Quick-Start-Guide#haskell-tools-console).  When you get a chance, try to reproduce the issue and check the ghc-modi console.  If you can paste the log somewhere and link it here that should help in determining the cause of the issue.

[2016-03-17 21:44] rwobben commented on #253
Thanks, can I upgrade within Intelij or do I have to download a whole new copy.

[2016-03-17 21:46] carymrobbins commented on #253
You should be able to download from within IntelliJ by using **Help > Check for Updates**.

[2016-03-17 21:59] rwobben commented on #253
I see now output but confusing output.

I have this code:

    gameWords :: IO WordList
    gameWords = do
       aw <- allWords
      return (filter gameLength aw)
      where gameLength w =
          let l = length (w :: String)
          in l > minWordLength && l < maxWordLength

Now I hightlight the l in the line  let l = length (w:String)
and see this output :

 37 15 37  39 "Int"
 37 11 38 5

[2016-03-17 22:08] carymrobbins commented on #253
Maybe try to just place you cursor over the variable you want and press <kbd>Alt</kbd>+<kbd>=</kbd> (or whatever the keybinding is for your platform).

Speaking of, what OS are you using?

Also, this may not be related, but the indentation seems a little off in the definition of `gameWords` and would probably result in a parse error.  I'd try something like this -

[code]

[2016-03-18 06:09] rwobben commented on #253
Thanks,

When I place my cursor over the variable and oress alt + =  then I see a little screen that contains the type info.  When I do the same and choose View -> Type info I do not see any output but I see output in the ghc-modi screen.

I use now Manjaro Linux as platform.

[2016-03-19 05:03] eklavya opened #258 "Intellij freezes after opening any haskell file"
Hi,

I am on Mac OS 10.11.3. After setting binaries (through auto find) when I open any haskell file (inside a project created using stack by the plugin), intellij freezes.

Please tell me if you need any other information.

Thread dump:
[code]

![untitled](https://cloud.githubusercontent.com/assets/1136647/13896747/c583eb56-edbd-11e5-8fe7-4abf59a884bc.jpg)

[2016-03-19 09:26] tobiasgwaaler commented on #258
Thanks for the elaborate report @eklavya! Your GHC Modi timeout is set to 5 seconds (which is the default), is Intellij freezing for longer than that?

[2016-03-19 09:55] eklavya commented on #258
It's becomes unusable, I have to force quit.
I also noticed that ghc modi path is always set to "ghc-mod" and not "ghc-modi", is that ok?

[2016-03-19 10:26] tobiasgwaaler commented on #258
I'm sorry to hear that :(
Yes, the ghc modi path should be "ghc-mod". (`ghc-modi` was "merged" into the `ghc-mod` executable a while back, so what used to be `ghc-modi` is now `ghc-mod legacy-interactive`)

[2016-03-19 10:35] eklavya commented on #258
Okay, please do let me know if you want me to try something or provide any addition info.

[2016-03-19 17:12] carymrobbins commented on #258
@tobiasgwaaler - Thanks for heading this up!

@eklavya - I've experienced this issue as well, except it usually doesn't last for much longer than seconds.  I have been thinking about solutions that may resolve this.

**Technical Notes**

In particular, what freezes the IDE seems to be the HaskellExternalAnnotator having to wait on the ghc-mod process to respond until a timeout, and sometimes that

[2016-03-19 17:20] eklavya commented on #258
@carymrobbins
1) Does the IDE need to halt for the responses? Can't it be asynchronous?
2) Why is ghc-mod taking so long to reply on a skeleton file created by the project wizard? Is there something wrong with my setup?

[2016-03-19 17:32] carymrobbins commented on #258
It can, but you can't just annotate the source when you get a response since the source text may have changed since then.  Hence, my idea around a checksum.

One thing you can try is to run the following from the command line -

[code]

The output may give you some clues as to your problem.  Possibly it's having trouble installing `cabal-helper`.

[2016-03-19 17:56] eklavya commented on #258
Thanks for your time @tobiasgwaaler and @carymrobbins , after trying again I seem to have gotten farther. It complaints about ghc version mismatch and suggests to run "stack setup". I am doing that but the download is really slow. Will update here when done.

[2016-03-19 18:15] tobiasgwaaler commented on #258
@eklavya seeing parts of the `idea.log` would be helpful just to be sure what's actually going on (although it seems @carymrobbins has a pretty good idea). You can find the log from Intellij by going to "Help" -> "Show Log in Finder"

[2016-03-19 18:30] eklavya commented on #258
It's really strange but I am not able to hang it anymore. Since I ran ghc-mod from terminal. Haskforce has started complaining about the ghc version and doesn't hang anymore. I can't imagine what changed but something did :tongue:

Older log (thread dump below):
[code]

Referenced thread dump:
[code]

[2016-03-19 18:39] carymrobbins commented on #258
@eklavya - Yeah, ghc-mod was probably taking a while to initialize its state.  If we could have the ExternalAnnotator not block the UI, it'd be easier to see what's going on directly in the Haskell Tools Console.

[2016-03-19 18:43] eklavya commented on #258
So after installing ghc 7.10.3 using stack setup. I get complaints about ghc-mod having been compiled with 7.10.2. I don't know how to sync them up, I am downloading from https://ghcformacosx.github.io/, I will try again with it. I am starting to experience what people meant about haskell setup "issues" :sob:

[2016-03-19 18:53] eklavya commented on #258
The default project template had setup stack.yaml with
"resolver: lts-5.8" (presumably 7.10.3)
I set it to
"resolver: ghc-7.10.2"
ran stack setup again and this time everything seems to be working.

[2016-03-19 18:57] carymrobbins commented on #258
@eklavya - Yeah it's a pain.  Maybe we can ease this by managing the setup with HaskForce.

To find the right ghc-mod, you need to run, from your project root -

[code]

If you don't have it, try to install it with

[code]

It might complain about a dependency issue with cabal-helper, in which you can resolve by adding it (cabal-helper) to [extra-deps](http://docs.haskellstack.org/en/stable/yaml_c

[2016-03-19 18:59] carymrobbins commented on #258
@eklavya - Nice, that's a good solution too.  We'll work on making the process simpler for new users.  Sorry for the pain!

[2016-03-19 19:06] eklavya commented on #258
Not at all, thanks again @carymrobbins @tobiasgwaaler
You guys rock :+1:

[2016-03-19 19:08] carymrobbins commented on #258
Thanks @eklavya, please let us know if you run into any other issues!

[2016-03-19 21:50] tobiasgwaaler commented on #258
@carymrobbins I think the solution you propose (using a checksum etc.) seems reasonable. I can't really think of anything simpler at the moment, but I'll let you know if I come up with an alternative :)

The experience @eklavya had has convinced me that making Haskforce help out with more of the required "setup" is a good idea. Installing at least `ghc-mod` more or less automatically (for the appr

[2016-03-19 22:32] carymrobbins commented on #258
@tobiasgwaaler - Agreed, I'll open an issue for both tasks.  I'm going to start working on the "checksum" issue if you are interested in looking into the "setup" one.

[2016-03-19 22:38] carymrobbins opened #259 "External annotators (ghc-mod) should not halt the IDE"
Currently, we use a timeout to give ghc-mod enough time to respond to requests made for annotating errors in the source.  However, sometimes this gets called many times and can really negatively impact user experience due to the halting of the IDE (e.g. #258).

Why not just annotate the source once we get a response?  Well, the source may have changed since then!  My current idea is we could calcu

[2016-03-19 22:49] carymrobbins opened #260 "Offer to setup external tools (ghc-mod)"
Setting up tools, specifically ghc-mod, can be very complicated (#258), especially for new users.  Ideally, HaskForce should offer to install and configure it for you when either it's not configured or misconfigured (e.g. ghc version does not match the configured ghc-mod version).

One prerequisite to make things easy might be to just require that the project is using stack.  Otherwise, things get